@(participationForm: Form[Participation], event: Event, nonGuests: Seq[User])(implicit loggedInUser: Option[User])

@import util.AuthHelper._
@import util.EmailHelper._
@import util.FormHelper._
@import util.Section._

@field(fieldName: String) = @{
  participationForm(fieldName).value.getOrElse("")
}

@hasErrors(fieldName: String) = @{
  if(participationForm(fieldName).hasErrors) {
    "has-error"
  }
}


@page("Gäst till " + event.name, section = Groups) {

  @breadcrumb(Seq("Grupper" -> routes.Groups.list(), event.group.name -> routes.Groups.show(event.group.id.get), event.name -> routes.Events.show(event.id.get)),
    "Ny Gäst")

  <div class="row">
    <div class="col-md-5">
      <h2>Ny gäst till @event.name</h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-5">
      <form action="@routes.ParticipationsSecured.createGuest()" method="POST">
        <fieldset>
          <div class='form-group @hasErrors("userId")'>
            <label for="userId">Befintlig användare</label>
            <select class="form-control" id="userId" name="userId" required="">
              <option>Ingen vald</option>
              @nonGuests.map { user =>
                <option value='@user.id.get' @if(user.id.get.toString.equals(field("userId"))) {selected=""}>@user.firstName @user.lastName ( @abbreviated(user.email, isLoggedIn(loggedInUser)) )</option>
              }
            </select>
            <span class="show-on-error">Välj en användare som medlem</span>
          </div>

          <input type="hidden" id="eventId" name="eventId" value="@event.id.get"/>
          <input type="hidden" id="status" name="status" value="@Status.Unregistered.toString"/>
          <input type="hidden" id="comment" name="comment" value=""/>
          <input type="hidden" id="number_of_participants" name="number_of_participants" value="1"/>

          @if(participationForm.hasErrors || participationForm.hasGlobalErrors) {
            <div class="alert alert-danger">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <h4 class="alert-heading">Inmatningsfel</h4>
              <p>@errors(participationForm).mkString(", ")</p>
            </div>
          }
        </fieldset>
        <fieldset class="space-berfore">
          <button type="submit" class="btn btn-primary" id="action" name="action" value="save">
            <span class="glyphicon glyphicon-ok"></span> Lägg till
          </button>
          <button type="button" class="btn btn-default" id="create" onClick='window.location.assign ("@routes.UsersSecured.createGuestForm(event.id.get)")'>
            <span class="glyphicon glyphicon-plus"></span> Ny användare
          </button>
          <button type="button" class="btn btn-default" id="cancel" onClick='window.location.assign ("@routes.Events.show(event.id.get)")'>
            <span class="glyphicon glyphicon-ban-circle"></span> Avbryt
          </button>
        </fieldset>
      </form>
    </div>
  </div>
}