@(participation: models.Participation, newParticipation : Boolean)

@the_action() = @{
  if(newParticipation) {
    routes.Participations.create
  } else {
    routes.Participations.update(participation.id.get)
  }
}

@page("Anmälan till " + participation.event.name) {
<div class="row">
  <div class="span5">
    <ul class="breadcrumb">
      <li>
        <a href="@routes.Application.index"><i class="icon-home"></i> Start</a> <span class="divider">/</span>
      </li>
      <li>
        <a href="@routes.Events.list">Event</a> <span class="divider">/</span>
      </li>
      <li>
        <a href="@routes.Events.show(participation.event.id.get)">@participation.event.name</a> <span class="divider">/</span>
      </li>
      <li class="active">Anmälan</li>
    </ul>

    <h2>Anmälan till @participation.event.name</h2>

    <div class="well">
      <p>@participation.event.description</p>
      <table>
        <tr>
          <td class="eventlabel">Tid:</td>
          <td>@participation.event.start_time.format("yyyy-MM-dd, HH:mm")-@participation.event.end_time.format("HH:mm")</td>
        </tr>
        <tr>
          <td class="eventlabel">Plats:</td>
          <td>@participation.event.venue</td>
        </tr>
      </table>
    </div>
  </div>
</div>


<div class="row">
  <div class="span5">
    <form action="@the_action" method="POST">
      <fieldset>
        <div class="control-group">
          <label class="control-label">
            <h3>
              <img src="@util.Gravatar.url(participation.user.email)"  class="gravatar" rel="tooltip" title="Gravatar för @participation.user.email"/>
              @participation.user.firstName @participation.user.lastName
            </h3>
          </label>
          <div class="controls">
            <label class="radio inline">
              <input type="radio" name="status" id="on" value="On" @(if(newParticipation || participation.status == Status.On) "checked")>
              <span class="label participation-on">Kommer</span>
            </label>
            <label class="radio inline">
              <input type="radio" name="status" id="maybe" value="Maybe" @(if(participation.status==Status.Maybe) "checked")>
              <span class="label participation-maybe">Kanske</span>
            </label>
            <label class="radio inline">
              <input type="radio" name="status" id="off" value="Off" @(if(participation.status==Status.Off) "checked")>
              <span class="label participation-off">Kommer inte</span>
            </label>
          </div>
        </div>


        <div class="control-group">
          <label class="control-label" for="comment">Kommentar</label>
          <div class="controls">
            <textarea class="span5" id="comment" name="comment" rows="2">@participation.comment</textarea>
          </div>
        </div>

        <input type="hidden" id="id" name="id" value="@participation.id"/>
        <input type="hidden" id="userId" name="userId" value="@participation.user.id.get"/>
        <input type="hidden" id="eventId" name="eventId" value="@participation.event.id.get"/>


        <div class="form-actions">
          <button type="submit" class="btn btn-primary" id="action" name="action" value="save">
            <i class="icon-ok icon-white"></i>
            Spara
          </button>
          <button type="button" class="btn" id="cancel"
                  onClick='window.location="@routes.Events.show(participation.event.id.get)"'>
            <i class="icon-stop"></i>
            Avbryt
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
}