@import se.crisp.signup4.models.User
@import se.crisp.signup4.util.Section._
@import se.crisp.signup4.util.AuthHelper
@import se.crisp.signup4.util.ThemeHelper
@import se.crisp.signup4.services.ImageUrl

@(users: Seq[User])(implicit loggedInUser: Option[User], messages: Messages, imageUrl: ImageUrl, authHelper: AuthHelper, themeHelper: ThemeHelper)

@se.crisp.signup4.views.html.page(Messages("navigation.users"), section = Users) {

  @se.crisp.signup4.views.html.breadcrumb(Seq(), Messages("navigation.users"))

  <div class="row">
    <div class="col-md-5">
      <h2>@Messages("navigation.users")</h2>
    </div>
  </div>

  @users.map { user =>
    <div class="media list-row">
      <div class="media-left">
        <a href="@se.crisp.signup4.controllers.routes.Users.show(user.id.get)">
          <img class="thumb thumb-background60 pull-left" src="@imageUrl(user, 60)" onerror="imgError(this);"/>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="@se.crisp.signup4.controllers.routes.Users.show(user.id.get)">@user.firstName @user.lastName</a>
        </h4>
        <p class="text-muted"><em>@user.comment</em></p>
        @if(authHelper.isLoggedIn(loggedInUser)) {
          <p class="text-muted"><span class="glyphicon glyphicon-envelope"></span> @user.email</p>
        }
      </div>
    </div>
  }

  @if(authHelper.isAdmin(loggedInUser)) {
    <div class="btn-row">
      <a href="@se.crisp.signup4.controllers.routes.UsersSecured.createForm()" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span> @Messages("user.new")
      </a>
    </div>
  }
}