@import se.crisp.signup4.models.User
@import se.crisp.signup4.util.Section._
@import se.crisp.signup4.util.ThemeHelper
@import se.crisp.signup4.services.GravatarUrl
@import se.crisp.signup4.services.ImageUrl
@import se.crisp.signup4.util.AuthHelper
@import helper._

@(user: User, errorMessage: Option[String] = None)(implicit loggedInUser: Option[User], messages: Messages, imageUrl: ImageUrl, gravatarUrl: GravatarUrl, themeHelper: ThemeHelper, authHelper: AuthHelper,  request: RequestHeader)

@se.crisp.signup4.views.html.page(Messages("user.updateimage", user.firstName, user.lastName), section = Users) {

  @se.crisp.signup4.views.html.breadcrumb(Seq(Messages("navigation.users") -> se.crisp.signup4.controllers.routes.Users.list(),
    user.firstName + " " + user.lastName -> se.crisp.signup4.controllers.routes.Users.show(user.id.get)),
    Messages("navigation.updateimage"))

  <h2>@Messages("user.updateimage", user.firstName, user.lastName)</h2>

  <div class="input-group maxwidth">
    <img class="upload-thumb thumb-background80" src="@gravatarUrl.url(user, 80)" onerror='imgError(this);'/>
    <h3>@Messages("user.updateimage.standard.heading")</h3>
    <p>@Messages("user.updateimage.standard.row1") <a href="http://gravatar.com">gravatar.com</a>
      @Messages("user.updateimage.standard.row2") </p>
    <p>@Messages("user.updateimage.standard.row3")</p>
    <form action="@se.crisp.signup4.controllers.routes.Users.resetImage(user.id.get)" method="POST">
      @CSRF.formField
      <button type="submit" class="btn btn-primary">@Messages("button.use")</button>
    </form>
  </div>

  <div class="input-group maxwidth">
    <img class="upload-thumb" src='@routes.Assets.at("images/Images_icon.png")'/>
    <h3>@Messages("user.updateimage.own.heading")</h3>
    <p>@Messages("user.updateimage.own.row1")</p>
    <p>@Messages("user.updateimage.own.row2")</p>
    <form action="@se.crisp.signup4.controllers.routes.Users.uploadImage(user.id.get)" method="POST" enctype="multipart/form-data">
      <div class='form-group'>
        <input type="file" accept="image/*" id="image" name="image" >
      </div>
      @if(errorMessage.isDefined) {
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          @errorMessage.get
        </div>
      }
      <button type="submit" class="btn btn-primary">@Messages("button.use")</button>
    </form>
  </div>

  <p>
    <a href="@se.crisp.signup4.controllers.routes.Users.show(user.id.get)" class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span>
      @Messages("button.cancel")</a>
  </p>
}
