@(description: String)(implicit lang: Lang)

<label for="description">@Messages("event.edit.description")</label>
<div class="editor form-control" id="editor">@Html(description)</div>
<input type="hidden" id="description" name="description" value=''/>

<script src='@routes.Assets.at("bootstrap3-wysiwyg/bootstrap3-wysihtml5.all.min.js")'></script>
<script src='@routes.Assets.at("bootstrap3-wysiwyg/locales/bootstrap-wysihtml5." + lang.code + ".js")'></script>

<script type="text/javascript">
  $('#editor').wysihtml5({
    locale: "@{lang.code}",
    toolbar: {
      "fa": true,
      "font-styles": false,
      "emphasis": true,
      "lists": true,
      "html": false,
      "link": true,
      "image": false,
      "color": false,
      "blockquote": false
    }
  });

  function loadDescription() {
    var descr = $('#editor').html();
    $('#description').val(descr);
  }
</script>

