@import se.crisp.signup4.models.Participation
@import se.crisp.signup4.models.User
@import se.crisp.signup4.util.AuthHelper._
@import se.crisp.signup4.util.DateHelper._
@import se.crisp.signup4.util.StatusHelper._
@import se.crisp.signup4.services.ImageUrl

@(participations: Seq[Participation], withRemoveButton: Boolean = false)(implicit loggedInUser: Option[User],  lang: Lang)

@participations.map { participation =>

  <div class="media list-row">

    <div class="media-left">
      <a href="@se.crisp.signup4.controllers.routes.Participations.editForm(participation.event.id.get, participation.user.id.get)">
        <img class="thumb thumb-background60" src="@ImageUrl(participation.user, 60)" onerror="imgError(this);"/>
      </a>
    </div>

    <div class="media-body">
      <h4 class="media-heading">
        <a href="@se.crisp.signup4.controllers.routes.Participations.editForm(participation.event.id.get, participation.user.id.get)">
          @participation.user.firstName @participation.user.lastName
        </a>
      </h4>
      @if(participation.user.comment.nonEmpty) {
        <p class="text-muted small-space-berfore">@participation.user.comment</p>
      }
      @if(isLoggedIn(loggedInUser)) {
        <p class="text-muted small-space-berfore"><em>@participation.user.email</em></p>
      }
      <p>@participation.comment</p>
    </div>

    <div class="media-right">
      <span class="text-nowrap pull-right">
        <a href="@se.crisp.signup4.controllers.routes.Participations.editForm(participation.event.id.get, participation.user.id.get)">
          <span class="label label-default @asCssClass(participation.status)">
          @asMessage(participation.status)
          </span>
        </a>
        @if(participation.isLateSignUp) {
            &nbsp;
          <a id="warning_@{participation.id.get}" tabindex="0" role="button" rel="popover" data-toggle="popover" data-trigger="focus" data-placement="top" title='@Messages("event.late.heading")' data-content='@Messages("event.late.text", asDate(participation.signUpTime.get))'>
            <img class="warning-icon" src='@routes.Assets.at("images/icon-warning.png")' alt='@Messages("event.late.heading")'/>
          </a>
          <script type="text/javascript">
              $('#warning_@{participation.id.get}').popover()
          </script>
        }
      </span>

      @if(participation.numberOfParticipants > 1) {
        <p>@{participation.numberOfParticipants}st</p>
      }

      @if(withRemoveButton && isAdmin(loggedInUser)) {
        <button type="button" class="btn btn-default pull-right small-space-berfore" data-toggle="modal" data-target="#remove_participant_@participation.id">
          <span class="glyphicon glyphicon-trash"></span>
        </button>

        <div class="modal fade" id="remove_participant_@participation.id" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ><span>&times;</span></button>
                <h3 id="label_remove_participant_@participation.id">@Messages("event.removeguest.heading")</h3>
              </div>
              <div class="modal-body">
                <p>@Messages("event.removeguest.warning", participation.user.firstName, participation.user.lastName, participation.event.name)</p>
                <p>@Messages("edit.continue")</p>
              </div>
              <div class="modal-footer">
                <form action="@se.crisp.signup4.controllers.routes.ParticipationsSecured.delete(participation.id.get)" method="POST">
                  <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ban-circle"></span> @Messages("button.cancel")
                  </button>
                  <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-trash"></span> @Messages("edit.remove")
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
