logs
project/project/
project/target/
target/
tmp
.history
dist
.cache
.classpath
.project
.settings
out
run_local.sh
acceptance_test.sh
.DS_Store
opt
.vagrant
phantomjsdriver.log

*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ files
.idea
*.iml

.sbtserver