@import se.crisp.signup4.models.Event
@import se.crisp.signup4.models.User
@import se.crisp.signup4.util.ThemeHelper._
@import se.crisp.signup4.util.DateHelper._
@import play.api.i18n.{Langs, Messages, MessagesApi}

@(event: Event, user: User, baseURL: String)(implicit messages: Messages)
<!DOCTYPE html>
<html lang="@messages.lang.code">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@event.group.name : @event.name</title>
  </head>
  <body style="font-family: arial, verdana, sans-serif; font-size: small; margin: 1em;">
    <h3 style="font-family: expressway, arial, verdana, sans-serif; border-bottom: solid 3px #DB370B; margin-bottom: 0">@APPLICATION_NAME</h3>
    <div style="min-height: 10px; background-color: #00759F;"></div>
    <h2 style="font-family: expressway, arial, verdana, sans-serif;"><a style="color:#00759F; text-decoration:none" href="@baseURL@se.crisp.signup4.controllers.routes.Groups.show(event.group.id.get)">@event.group.name</a></h2>
    <p>@Messages("event.notify.hello", user.firstName)</p>
    <p>@Messages("event.notify.reminder.message")</p>
    <div style="background-color: #EFEAE5; padding: 1em; border-radius: 0.3em;">
      <h3 style="font-family: expressway, arial, verdana, sans-serif;"><a style="color:#00759F; text-decoration:none" href="@baseURL@se.crisp.signup4.controllers.routes.Events.show(event.id.get)">@event.name</a></h3>
      <p>@Html(event.description)</p>
      <ul>
        <li><strong>@Messages("event.time")</strong> @asDateTime(event.startTime) - @asTime(event.endTime)</li>
        <li><strong>@Messages("event.venue")</strong>  @event.venue</li>
      </ul>
      @if(!sameDay(event.startTime, event.lastSignUpDate)) {
        <p>@Messages("event.lastsignup") @asDate(event.lastSignUpDate)</p>
      }

    </div>
    <p style="margin-top: 2em; margin-bottom: 2em">
      <a style="background-color: #DB370B; color: white; padding: 1em; border-radius: 6px; border: solid 1px rgba(0, 0, 0, 0.0980392);font-weight: bold; text-decoration: none;"
         href="@baseURL@se.crisp.signup4.controllers.routes.Participations.editForm(event.id.get, user.id.get)">@Messages("event.notify.reminder.signup")</a>
    </p>
  </body>
</html>
