@import se.crisp.signup4.models.Event
@import se.crisp.signup4.models.User
@import se.crisp.signup4.util.DateHelper.{asTime, asDateTime}
@import se.crisp.signup4.util.ThemeHelper

@this(themeHelper: ThemeHelper)

@(event: Event, user: User, baseURL: String)(implicit messages: Messages)
<!DOCTYPE html>
<html lang="@messages.lang.code">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Messages("event.notify.cancelled") @event.group.name : @event.name</title>
  </head>
  <body style="font-family: arial, helvetica, sans-serif; font-size: small; margin: 1em;">
    <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: normal; background-color: #930000; color: white;padding: 10px;">@themeHelper.APPLICATION_NAME</h3>
    <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: normal;"><a style="color: #995E00; text-decoration:none;" href="@baseURL@se.crisp.signup4.controllers.routes.Groups.show(event.group.id.get)">@Messages("event.notify.cancelledingroup", event.group.name)</a></h2>
    <p>@Messages("event.notify.hello", user.firstName)</p>
    <p>@Messages("event.notify.cancelled.message")</p>
    <div style="background-color: #F4ECE1; padding: 1em; border-radius: 0.3em;">
      <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: normal;"><a style="color:#995E00; text-decoration:none" href="@baseURL@se.crisp.signup4.controllers.routes.Events.show(event.id.get)">@Messages("event.notify.cancelled") @event.name</a></h3>
      <p>@event.cancellationReason.getOrElse("")</p>
      <ul>
        <li><strong>@Messages("event.time")</strong> @asDateTime(event.startTime) - @asTime(event.endTime)</li>
      </ul>
    </div>
  </body>
</html>
