.eventlabel {
  font-weight: bold;
  padding-right: 10px;
}

.participation-on {
  background-color: #5BB75B;
  text-transform: none;
}

.participation-maybe {
  background-color: #FAA732;
  text-transform: none;
}

.participation-off {
  background-color: #DA4F49;
  text-transform: none;
}

.participation-unregistered {
  text-transform: none;
}

dt {
  padding-left: 4px;
}

dd {
  padding-left: 20px;
  margin-left: 0;
}

dl.participation {
  margin-top: 0;
  margin-bottom: 0;
}

.align-right {
  float: right;
  vertical-align: bottom;
}

.transparent {
  background: transparent;
  padding: 0;
  border: none;
}

.smaller-modal {
  width: 370px;
}

td.right-aligned {
  text-align: right;
}

.gravatar {
  padding: 4px;
}

.show-on-error {
  display: none;
}

.error .show-on-error {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
  margin-bottom: 0;
  color: #b94a48;
}

