body.padded {
  padding: 2%;
}

div.wide1 {
  padding-top: 30px;
  padding-left: 12px;
}

div.wide2 {
  padding-top: 12px;
  padding-left: 4px;
}

.eventlabel {
  font-weight: bold;
}

.unregistered {
  background-color: #bbbbbb;
}

.registered {
  background-color: #add8e6;
}

dt {
  padding-left: 4px;
}

dd {
  padding-left: 20px;
  margin-left: 0;
}

dt.On {
  background-color: #98fb98;
}

dd.On {
  background-color: #98fb98;
}

dt.Off {
  background-color: #ee5f5b;
}

dd.Off {
  background-color: #ee5f5b;
}

dt.Maybe {
  background-color: #eee8aa;
}

dd.Maybe {
  background-color: #eee8aa;
}

dl.participation {
  margin-top: 0;
  margin-bottom: 0;
}