body.padded {
  padding: 2%;
}

div.wide1 {
  padding-top: 30px;
  padding-left: 12px;
}

div.wide2 {
  padding-top: 12px;
  padding-left: 4px;
}

.eventlabel {
  font-weight: bold;
  padding-right: 10px;
}

.On {
  background-color: #5BB75B;
  text-transform: none;
}

.Maybe {
  background-color: #FAA732;
  text-transform: none;
}

.Off {
  background-color: #DA4F49;
  text-transform: none;
}

.Unregistered {
  text-transform: none;
}

dt {
  padding-left: 4px;
}

dd {
  padding-left: 20px;
  margin-left: 0;
}

dl.participation {
  margin-top: 0;
  margin-bottom: 0;
}

.align-right {
  float: right;
  vertical-align: bottom;
  margin-top: 14px;
}

.transparent {
  background: transparent;
  padding: 0;
  border: none;
}

.smaller-modal {
  width: 370px;
}

td.right-aligned {
  text-align: right;
}

.time input {
  width: 4em;
}

.gravatar {
  padding: 4px;
}
