.participation-on {
  background-color: #5BB75B;
  text-transform: none;
  margin-right: 8px;
  margin-bottom: 4px;
}

.participation-maybe {
  background-color: #FAA732;
  text-transform: none;
  margin-right: 8px;
  margin-bottom: 4px;
}

.participation-off {
  background-color: #DA4F49;
  text-transform: none;
  margin-right: 8px;
  margin-bottom: 4px;
}

.participation-unregistered {
  text-transform: none;
  margin-right: 8px;
  margin-bottom: 4px;
}

dt {
  padding-left: 4px;
}

dd {
  padding-left: 20px;
  margin-left: 0;
}

.item-list {
  margin-left: 10px;
}

dl.participation {
  margin-top: 0;
  margin-bottom: 0;
}

.transparent {
  background: transparent;
  padding: 0;
  border: none;
}

.smaller-modal {
  width: 370px;
}

.thumb {
  padding: 1px;
  margin: 3px;
  vertical-align: top;
}

.thumb-background16 {
  width: 16px;
  height: 16px;
  background: white center no-repeat url(../images/user16.png);
}

.thumb-background40 {
  width: 40px;
  height: 40px;
  background: white center no-repeat url(../images/user40.png);
}

.thumb-background80 {
  width: 80px;
  height: 80px;
  background: white center no-repeat url(../images/user80.png);
}

.upload-thumb {
  padding: 1px;
  margin: 3px;
  vertical-align: top;
  float: right;
}

.big-thumb {
  padding: 1px;
  margin: 3px 3px 0 3px;
  vertical-align: bottom;
}

.login-thumb {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  background: white;
}

.show-on-error {
  display: none;
}

.error .show-on-error {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
  margin-bottom: 0;
  color: #b94a48;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 12px;
}

.navbar {
  margin-bottom: 0;
}

body {
  padding-top: 4px;
}

.list-row {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #e3deda;
  padding: 4px;
  margin-top: 4px;
  background-color: #EFEAE5;
}

.btn-row {
  margin-top: 6px;
  margin-bottom: 20px;
}

.email-address {
  color: #909090;
}

.big-name {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  margin-top: 12px;
}

.navigation-divider {
  min-height: 4px;
  background-color: #EE3C0C;
}

.footer-mid {
  margin-top: 100px;
  min-height: 53px;
  background-color: #EFEAE5;
}

.footer-bottom {
}

.created-by {
  color: white;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
}

.timestamp {
  color: white;
  font-size: 8px;
}

.space-berfore {
  margin-top: 20px;
}

.small-space-berfore {
  margin-top: 10px;
}

pre {
  overflow-x: auto;
}

pre code {
  word-wrap: normal;
  white-space: pre;
}

.input-group {
  background: white;
  border: #b4b4b4;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 9px;
  margin-bottom: 20px;
}

.warning-icon {
  vertical-align: middle;
}
