@(groupForm: Form[Group], idToUpdate: Option[Long] = None)(implicit loggedInUser: Option[User])

@import util.FormHelper._
@import util.Section._

@field(fieldName: String) = @{ groupForm(fieldName).value.getOrElse("") }

@hasErrors(fieldName: String) = @{ if(groupForm(fieldName).hasErrors) { "error" } }

@creatingNew() = @{
  idToUpdate.isEmpty
}

@theAction() = @{
  if(creatingNew()) {
    routes.Groups.create()
  } else {
    routes.Groups.update(idToUpdate.get)
  }
}

@page("Redigera grupp " + field("name"), section = Groups){
@if(creatingNew()) {
  @breadcrumb(Seq("Grupper" -> routes.Groups.list()),
    "Ny")
} else {
  @breadcrumb(Seq("Grupper" -> routes.Groups.list(), field("name") -> routes.Groups.show(idToUpdate.get)),
    "Redigera")
}


<div class="row">
  <div class="span5">
    <h2>@if(creatingNew()) {Nytt} else {Redigera} Grupp</h2>
  </div>
</div>

<div class="row">
  <div class="span5">
    <form class="form-horizontal" action="@theAction()" method="POST">
      <fieldset>
        <div class='control-group @hasErrors("name")'>
          <label class="control-label" for="name">Namn</label>
          <div class="controls">
            <input type="text" maxlength="127" class="input-xlarge" id="name" name="name" value='@field("name")' required=""/>
            <span class="show-on-error">Fyll i ett namn på gruppen</span>
          </div>
        </div>

        <div class='control-group  @hasErrors("description")'>
          <label class="control-label" for="description">Beskrivning</label>
          <div class="controls">
            <textarea maxlength="127" class="input-xlarge" id="description" name="description" rows="3">@field("description")</textarea>
            <span class="show-on-error">Det här var en underlig beskrivning</span>
          </div>
        </div>

        <fieldset>
          <legend>Konfigurering av epost från gruppen</legend>

          <div class='control-group @hasErrors("mail_from")'>
            <label class="control-label" for="mail_from">Avsändare</label>
            <div class="controls">
              <input type="email" maxlength="127" class="input-xlarge" id="mail_from" name="mail_from" value='@field("mail_from")' required=""/>
              <span class="show-on-error">Fyll i adressen till den som skall stå som avsändare</span>
            </div>
          </div>
        </fieldset>

        @if(groupForm.hasErrors || groupForm.hasGlobalErrors) {
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <h4 class="alert-heading">Inmatningsfel</h4>
          <p>@errors(groupForm).mkString(", ")</p>
        </div>
        }

        <div class="form-actions">
          <button type="submit" class="btn btn-primary" id="action" name="action" value="save">
            <i class="icon-ok icon-white"></i>Spara
          </button>
          <button type="button" class="btn" id="cancel" onClick='history.go(-1)'>
            <i class="icon-ban-circle"></i>Avbryt
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
}
