@(groupForm: Form[Group], idToUpdate: Option[Long] = None)

@field(fieldName: String) = @{ groupForm(fieldName).value.getOrElse("") }

@hasErrors(fieldName: String) = @{ if(groupForm(fieldName).hasErrors) { "error" } }

@isCreatingNew() = @{
  idToUpdate.isEmpty
}

@the_action() = @{
  if(isCreatingNew) {
    routes.Groups.create
  } else {
    routes.Groups.update(idToUpdate.get)
  }
}


@page("Redigera grupp " + field("name")){
<div class="row">
  <div class="span5">
    <ul class="breadcrumb">
      <li>
        <a href="@routes.Application.index"><i class="icon-home"></i> Start</a> <span class="divider">/</span>
      </li>
      <li>
        <a href="@routes.Groups.list">Grupper</a> <span class="divider">/</span>
      </li>

      @if(isCreatingNew) {
      <li class="active">Ny grupp</li>
      } else {
      <li>
        <a href="@routes.Groups.show(idToUpdate.get)">@field("name")</a> <span class="divider">/</span>
      </li>
      <li class="active">Redigera</li>
      }
    </ul>
    <h2>@if(isCreatingNew) {Ny} else {Redigera} Grupp</h2>

    <p></p>

    <form class="form-horizontal" action="@the_action()" method="POST">
      <fieldset>
        <div class='control-group @hasErrors("name")'>
          <label class="control-label" for="name">Namn</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="name" name="name" value='@field("name")' required>
            <span class="show-on-error">Fyll i ett namn på gruppen</span>
          </div>
        </div>

        <div class='control-group  @hasErrors("description")'>
          <label class="control-label" for="description">Beskrivning</label>
          <div class="controls">
            <textarea class="input-xlarge" id="description" name="description" rows="3">@field("description")</textarea>
            <span class="show-on-error">Det här var en underlig beskrivning</span>
          </div>
        </div>

        @if(groupForm.hasErrors || groupForm.hasGlobalErrors) {
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <h4 class="alert-heading">Inmatningsfel!</h4>
          <p>@groupForm.globalErrors.map(e => e.message + ": " + e.key).mkString(", ")</p>
          <p>@groupForm.errors.map(e => e.message + ": " + e.key).mkString(", ")</p>
        </div>
        }

        <div class="form-actions">
          <button type="submit" class="btn btn-primary" id="action" name="action" value="save">
            <i class="icon-ok icon-white"></i>Spara
          </button>
          <button type="button" class="btn" id="cancel" onClick='history.go(-1)'>
            <i class="icon-stop"></i>Avbryt
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
}
