@(groupForm: Form[Group], idToUpdate: Option[Long] = None)(implicit loggedInUser: Option[User])

@import util.FormHelper._
@import util.Section._

@field(fieldName: String) = @{ groupForm(fieldName).value.getOrElse("") }

@hasErrors(fieldName: String) = @{ if(groupForm(fieldName).hasErrors) { "error" } }

@creatingNew() = @{
  idToUpdate.isEmpty
}

@theAction() = @{
  if(creatingNew()) {
    routes.Groups.create()
  } else {
    routes.Groups.update(idToUpdate.get)
  }
}

@page("Redigera grupp " + field("name"), section = Groups){
<div class="row">
  <div class="span5">
    <ul class="breadcrumb">
      <li>
        <a href="@routes.Application.index()">Hem</a> <span class="divider">»</span>
      </li>
      <li>
        <a href="@routes.Groups.list()">Grupper</a> <span class="divider">»</span>
      </li>

      @if(creatingNew()) {
      <li class="active">Ny grupp</li>
      } else {
      <li>
        <a href="@routes.Groups.show(idToUpdate.get) ">@field("name")</a> <span class="divider">»</span>
      </li>
      <li class="active">Redigera</li>
      }
    </ul>
    <h2>@if(creatingNew()) {Ny} else {Redigera} Grupp</h2>

    <p></p>

    <form class="form-horizontal" action="@theAction()" method="POST">
      <fieldset>
        <div class='control-group @hasErrors("name")'>
          <label class="control-label" for="name">Namn</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="name" name="name" value='@field("name")' required=""/>
            <span class="show-on-error">Fyll i ett namn på gruppen</span>
          </div>
        </div>

        <div class='control-group  @hasErrors("description")'>
          <label class="control-label" for="description">Beskrivning</label>
          <div class="controls">
            <textarea class="input-xlarge" id="description" name="description" rows="3">@field("description")</textarea>
            <span class="show-on-error">Det här var en underlig beskrivning</span>
          </div>
        </div>

        <fieldset>
          <legend>Konfigurering av SMTP</legend>

          <div class='control-group @hasErrors("smtp_from")'>
            <label class="control-label" for="smtp_from">Avsändare</label>
            <div class="controls">
              <input type="email" class="input-xlarge" id="smtp_from" name="smtp_from" value='@field("smtp_from")' required=""/>
              <span class="show-on-error">Fyll i adressen till den som skall stå som avsändare</span>
            </div>
          </div>

          <div class='control-group @hasErrors("smtp_host")'>
            <label class="control-label" for="smtp_host">Värd</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="smtp_host" name="smtp_host" value='@field("smtp_host")' required=""/>
              <span class="show-on-error">Fyll i namnet på värden som kan sända epost</span>
            </div>
          </div>

          <div class='control-group @hasErrors("smtp_port")'>
            <label class="control-label" for="smtp_port">Port</label>
            <div class="controls">
              <input type="number" class="input-mini" id="smtp_port" name="smtp_port" value='@field("smtp_port")' required=""/>
              <span class="show-on-error">Fyll i portnumret för epost-värden</span>
            </div>
          </div>

          <div class='control-group @hasErrors("smtp_useSsl")'>
            <label class="control-label" for="smtp_useSsl">Använd SSL</label>
            <div class="controls">
              <input type="checkbox" class="input-xlarge" id="smtp_useSsl" name="smtp_useSsl" value='true' @if(field("smtp_useSsl") == "true") {checked=""}/>
              <span class="show-on-error">Ange om SSL skall användas</span>
            </div>
          </div>

          <div class='control-group @hasErrors("smtp_useTls")'>
            <label class="control-label" for="smtp_useTls">Använd TLS</label>
            <div class="controls">
              <input type="checkbox" class="input-xlarge" id="smtp_useTls" name="smtp_useTls" value='true' @if(field("smtp_useTls") == "true") {checked=""}/>
              <span class="show-on-error">Ange om TLS skall användas</span>
            </div>
          </div>

          <div class='control-group @hasErrors("smtp_user")'>
            <label class="control-label" for="smtp_user">Användarnamn</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="smtp_user" name="smtp_user" value='@field("smtp_user")'/>
              <span class="show-on-error">Fyll i användarnamnet</span>
            </div>
          </div>

          <div class='control-group @hasErrors("smtp_password")'>
            <label class="control-label" for="smtp_password">Lösenord</label>
            <div class="controls">
              <input type="password" class="input-xlarge" id="smtp_password" name="smtp_password" value='@field("smtp_password")'/>
              <span class="show-on-error">Fyll i lösenordet</span>
            </div>
          </div>

        </fieldset>

        @if(groupForm.hasErrors || groupForm.hasGlobalErrors) {
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <h4 class="alert-heading">Inmatningsfel</h4>
          <p>@errors(groupForm).mkString(", ")</p>
        </div>
        }

        <div class="form-actions">
          <button type="submit" class="btn btn-primary" id="action" name="action" value="save">
            <i class="icon-ok icon-white"></i>Spara
          </button>
          <button type="button" class="btn" id="cancel" onClick='history.go(-1)'>
            <i class="icon-ban-circle"></i>Avbryt
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
}
