@(groups: Seq[models.Group])(implicit loggedInUser: Option[User])

@import util.AuthHelper._
@import util.Section._

@page("Grupper", section = Groups){
<div class="row">
  <div class="span5">
    <ul class="breadcrumb">
      <li>
        <a href="@routes.Application.index()">Hem</a> <span class="divider">»</span>
      </li>
      <li class="active">Grupper</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span5">
    <h2>Grupper</h2>
  </div>
</div>

@groups.map { group =>
<div class="row">
  <div class="span5 list-row">
    <div class="row">
      <div class="span5">
        <dl class="participation">
          <dt><a href="@routes.Groups.show(group.id.get)">
            @group.name
          </a></dt>
          <dd>@group.description</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
}

@if(isAdmin(loggedInUser)) {
  <div class="row">
    <div class="span5 btn-row">
      <a href="@routes.Groups.createForm()" class="btn"><i class="icon-plus"></i> Ny grupp</a>
    </div>
  </div>
}
}