@(groups: Seq[models.Group])

@page("Grupper", inGroups = true){
<div class="row">
  <div class="span5">
    <ul class="breadcrumb">
      <li>
        <a href="@routes.Application.index"><i class="icon-home"></i> Start</a> <span class="divider">/</span>
      </li>
      <li class="active">Grupper</li>
    </ul>
    <h2>Grupper</h2>
    <table class="table table-striped">
      @groups.map { group =>
      <tr>
        <td>
          <dl class="participation">
            <dt><a href="@routes.Groups.show(group.id.get)">
              @group.name
            </a></dt>
            <dd>@group.description</dd>
          </dl>
        </td>
      </tr>
      }
    </table>
    <p>
      <a href="@routes.Groups.createForm" class="btn"><i class="icon-plus"></i> Ny grupp</a>
    </p>
  </div>
</div>
}