@(groups: Seq[models.Group])(implicit loggedInUser: Option[User])

@import util.AuthHelper._
@import util.Section._

@page("Grupper", section = Groups){

@breadcrumb(Seq(), "Grupper")


<div class="row">
  <div class="col-md-5">
    <h2>Grupper</h2>
  </div>
</div>

@groups.map { group =>
<div class="row">
  <div class="col-md-5 list-row">
    <div class="row">
      <div class="col-md-5">
        <dl class="participation">
          <dt><a href="@routes.Groups.show(group.id.get)">
            @group.name
          </a></dt>
          <dd>@group.description</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
}

@if(isAdmin(loggedInUser)) {
  <div class="row">
    <div class="col-md-5 btn-row">
      <a href="@routes.GroupsSecured.createForm()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Ny grupp</a>
    </div>
  </div>
}
}