@(group: models.Group, events: Seq[models.Event], members: Seq[models.Membership], showingAll: Boolean = false)

@import util.DateHelper
@import util.Section._

@page(group.name, section = Groups) {
<div class="row">
  <div class="span5">
    <ul class="breadcrumb">
      <li>
        <a href="@routes.Application.index()">Hem</a> <span class="divider">»</span>
      </li>
      <li>
        <a href="@routes.Groups.list()">Grupper</a> <span class="divider">»</span>
      </li>
      <li class="active">@group.name</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span5">
    <h2>@group.name</h2>

    <div class="well">
      <p>@group.description</p>

      <p></p>
      <a href="@routes.Groups.updateForm(group.id.get)" class="btn"><i class="icon-pencil"></i> Redigera</a>
      <a data-toggle="modal" href="#remove_group_@group.id" class="btn"><i class="icon-trash"></i> Ta bort</a>

      <div id="remove_group_@group.id" class="modal smaller-modal hide fade" style="display: none">
        <div class="modal-header">
          <button class="close transparent" data-dismiss="modal"><i class="icon-remove"></i></button>
          <h3>Vill du ta bort gruppen?</h3>
        </div>
        <div class="modal-body">
          <p>
            Du håller på att ta bort gruppen <strong>@group.name</strong>.
          </p>
          <p>
            Vill du fortsätta?
          </p>
        </div>
        <div class="modal-footer">
          <form action="@routes.Groups.delete(group.id.get)" method="POST">
            <a href="#" class="btn" data-dismiss="modal"><i class="icon-ban-circle"></i> Avbryt</a>
            <button type="submit" class="btn btn-primary"><i class="icon-trash icon-white"></i> Ta bort</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span5">
    <h3>Event</h3>
    @if(showingAll) {
      <a href="@routes.Groups.show(group.id.get)">Visa bara framtida</a>
    } else {
      <a href="@routes.Groups.show(group.id.get, showAll = true)">Visa alla</a>
    }
  </div>
</div>

@events.map { event =>
<div class="row">
  <div class="span5 list-row">
    <div class="row">
      <div class="span3">
        <dl class="participation">
          <dt><a href="@routes.Events.show(event.id.get)">
            @event.name
          </a></dt>
          <dd>@Html(event.description)</dd>
        </dl>
      </div>
      <div class="span2">
        <strong>@DateHelper.asDate(event.startTime),</strong>
        @DateHelper.asTime(event.startTime)-@DateHelper.asTime(event.endTime)
      </div>
    </div>
  </div>
</div>
}

<div class="row">
  <div class="span5 btn-row">
    <a href="@routes.Events.createForm(group.id.get)" class="btn"><i class="icon-plus"></i> Nytt event</a>
  </div>
</div>

<div class="row">
  <div class="span5">
    <h3>Medlemmar</h3>
  </div>
</div>
@members.map { membership =>
<div class="row">
  <div class="span5 list-row">
    <div class="row">
      <div class="span1">
        <a href="@routes.Users.show(membership.user.id.get)">
          <img class="gravatar" src="@util.GravatarHelper.url(membership.user.email, size=40)" rel="tooltip"
               title="Gravatar för @membership.user.email" alt="" alt=""/>
        </a>
      </div>
      <div class="span2">
        <dl class="participation">
          <dt><a href="@routes.Users.show(membership.user.id.get)">
            @membership.user.firstName @membership.user.lastName
          </a></dt>
          <dd class="email-address">@membership.user.email</dd>
          <dd>@membership.user.comment</dd>
        </dl>
      </div>
      <div class="span2">
        <a data-toggle="modal" href="#remove_member_@membership.id" class="btn pull-right"><i class="icon-trash"></i> Ta
          bort</a>

        <div id="remove_member_@membership.id" class="modal smaller-modal hide fade" style="display: none">
          <div class="modal-header">
            <button class="close transparent" data-dismiss="modal"><i class="icon-remove"></i></button>
            <h3>Vill du ta bort medlemmen?</h3>
          </div>
          <div class="modal-body">
            <p>
              Du håller på att ta bort medlemmen <strong>@membership.user.firstName @membership.user.lastName</strong>
              från gruppen <strong>@group.name</strong>.
            </p>
            <p>
              Vill du fortsätta?
            </p>
          </div>
          <div class="modal-footer">
            <form action="@routes.Memberships.delete(membership.id.get)" method="POST">
              <a href="#" class="btn" data-dismiss="modal"><i class="icon-ban-circle"></i> Avbryt</a>
              <button type="submit" class="btn btn-primary"><i class="icon-trash icon-white"></i> Ta bort</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}

<div class="row">
  <div class="span5 btn-row">
    <a href="@routes.Memberships.createForm(group.id.get)" class="btn"><i class="icon-plus"></i> Ny medlem</a>
  </div>
</div>
}
