@(users: Seq[User])

@import util.Section._

@page("Användare", section = Users) {
<div class="row">
  <div class="span5">
    <ul class="breadcrumb">
      <li>
        <a href="@routes.Application.index()">Hem</a> <span class="divider">»</span>
      </li>
      <li class="active">Användare</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span5">
    <h2>Användare</h2>
  </div>
</div>

@users.map { user =>
<div class="row">
  <div class="span5 list-row">
    <div class="row">
      <div class="span1">
        <a href="@routes.Users.show(user.id.get)">
          <img class="gravatar" src="@util.GravatarHelper.url(user.email, size=40)" rel="tooltip"
               title="Gravatar för @user.email" alt=""/>
        </a>
      </div>
      <div class="span4">
        <dl class="participation">
          <dt><a href="@routes.Users.show(user.id.get)">
            @user.firstName @user.lastName
          </a></dt>
          <dd class="email-address">@user.email</dd>
          <dd>@user.comment</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
}

<div class="row">
  <div class="span5 btn-row">
    <a href="@routes.Users.createForm()" class="btn"><i class="icon-plus"></i> Ny användare</a>
  </div>
</div>

}