@(users: Seq[User])

@page("Användare") {
<div class="row">
  <div class="span5">
    <ul class="breadcrumb">
      <li>
        <a href="@routes.Application.index"><i class="icon-home"></i> Start</a> <span class="divider">/</span>
      </li>
      <li class="active">Användare</li>
    </ul>
    <h2>Användare</h2>
    <table class="table table-striped">
      @users.map { user =>
      <tr>
        <td>
          <a href="@routes.Users.show(user.id.get)">
            <img src="@util.Gravatar.url(user.email, size=40)" align="top" rel="tooltip"
                 title="Gravatar för @user.email" alt=""/>
          </a>
        </td>
        <td>
          <dl class="participation">
            <dt><a href="@routes.Users.show(user.id.get)">
              @user.firstName @user.lastName
            </a></dt>
            <dd>@user.comment</dd>
          </dl>
        </td>
        <td>
          @user.email
        </td>
      </tr>
      }
    </table>
    <p>
      <a href="@routes.Users.createForm(None)" class="btn btn-primary"><i class="icon-plus icon-white"></i> Ny</a>
    </p>
  </div>
</div>
}