@(user: models.User)(implicit loggedInUser: Option[User])

@import util.AuthHelper._
@import util.Section._
@import services.ImageUrl
@import util.DateHelper._
@import util.HtmlHelper._


@page(user.firstName + " " + user.lastName, section = Users) {

  @if(isAdmin(loggedInUser)) {
    @breadcrumb(Seq("Användare" -> routes.UsersSecured.list()),
      user.firstName + " " + user.lastName)
  } else {
    @breadcrumb(Seq(), user.firstName + " " + user.lastName)
  }

  <div class="row">
    <div class="col-md-5">
      <img class="big-thumb thumb-background80" src="@ImageUrl(user, size = 80)" onerror="imgError(this);"/>
      @if(isAdminOrSelf(loggedInUser, user)) {
        <a href="@routes.UsersSecured.updateImageForm(user.id.get)" class="btn btn-default"><span class="glyphicon glyphicon-picture"></span> Byt bild</a>
      }
      <h2>@user.firstName @user.lastName</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <dl class="dl-horizontal">
        @if(isLoggedIn(loggedInUser)) {
          <dt>Epost:</dt>
          <dd>@user.email&nbsp;</dd>
        }

        <dt>Telefon:</dt>
        <dd>@user.phone&nbsp;</dd>

        <dt>Kommentar:</dt>
        <dd>@user.comment&nbsp;</dd>

        @if(user.permission == models.security.Administrator){
          <dt>Roll:</dt>
          <dd>Administratör&nbsp;</dd>
        }
      </dl>
    </div>
  </div>

  @if(isAdminOrSelf(loggedInUser, user)) {
    <div class="row">
      <div class="col-md-5">
        <p></p>
        <a href="@routes.UsersSecured.updateForm(user.id.get)" class="btn btn-primary"><span class="glyphicon glyphicon-pencil glyphicon-inverse"></span>
          Redigera</a>

        @if(isAdmin(loggedInUser)) {
          <a data-toggle="modal" href="#remove_user_@user.id" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Ta bort</a>

          <div id="remove_user_@user.id" class="modal smaller-modal hide fade" style="display : none ;">
            <div class="modal-header">
              <button class="close transparent" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
              <h3>Vill du ta bort användaren?</h3>
            </div>
            <div class="modal-body">
              <p>
                Du håller på att ta bort användaren <strong>@user.firstName @user.lastName</strong>.
              </p>
              <p>
                Vill du fortsätta?
              </p>
            </div>
            <div class="modal-footer">
              <form action="@routes.UsersSecured.delete(user.id.get)" method="POST">
                <a href="#" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Avbryt</a>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-trash icon-white"></span> Ta bort</button>
              </form>
            </div>
          </div>
        }
      </div>
    </div>
  }

  <div class="row">
    <div class="col-md-5">
      <h3>Sammankomster</h3>
    </div>
  </div>

  @Event.findFutureEventsByUser(user).map { event =>
    <div class="row">
      <div class="col-md-5 list-row">
        <div class="row">
          <div class="col-md-3">
            <div class="item-list">
              <p><strong>
                @if(event.isCancelled){Inställt: }
                <a href="@routes.Participations.editForm(event.id.get,user.id.get)">@event.name</a>
              </strong></p>
              <p><a href="@routes.Groups.show(event.group.id.get)">@event.group.name</a></p>
            </div>
          </div>
          <div class="col-md-2">
            <p><strong>@asDate(event.startTime), </strong>@asTime(event.startTime)-@asTime(event.endTime)</p>
            @if(!sameDay(event.startTime, event.lastSignUpDate)) {
              <p>Sista anmälningsdag: <br/> @asDate(event.lastSignUpDate)</p>
            }
            <a href="@routes.Participations.editForm(event.id.get, user.id.get)">
              <span class="label label-default @asCssClass(Participation.findStatus(user, event))">
              @asMessage(Participation.findStatus(user, event))
              </span>
            </a>

          </div>
        </div>
      </div>
    </div>
  }
}
