@(user: models.User)
<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/main.css">
  <title>@user.firstName</title>
</head>

<body class="padded">

<div class="row">
  <div class="span5">
    <ul class="breadcrumb">
      <li>
        <a href="/"><i class="icon-home"></i> Start</a> <span class="divider">/</span>
      </li>
      <li>
        <a href="/users">Användare</a> <span class="divider">/</span>
      </li>
      <li class="active">@user.firstName @user.lastName</li>
    </ul>

    <h2>@user.firstName @user.lastName</h2>

    <table class="table span4">
      <tr>
        <td class="right-aligned">Smeknamn:</td>
        <td>@user.nickName</td>
      </tr>
      <tr>
        <td class="right-aligned">Förnamn:</td>
        <td>@user.firstName</td>
      </tr>
      <tr>
        <td class="right-aligned">Efternamn:</td>
        <td>@user.lastName</td>
      </tr>
      <tr>
        <td class="right-aligned">Primär Epost:</td>
        <td>@user.primaryEmail</td>
      </tr>
      <tr>
        <td class="right-aligned">Sekundär Epost:</td>
        <td>@user.secondaryEmail</td>
      </tr>
      <tr>
        <td class="right-aligned">Mobiltelefon:</td>
        <td>@user.mobileNr</td>
      </tr>
      <tr>
        <td class="right-aligned">Kommentar:</td>
        <td>@user.comment</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="span5">
    <p></p>
    <a href="/users/@user.id/edit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Redigera</a>
  </div>
</div>

<script src="/assets/javascripts/jquery-1.7.1.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.js"></script>

</body>
</html>