@import se.crisp.signup4.models.User
@import se.crisp.signup4.models.Group
@import se.crisp.signup4.util.FormHelper._
@import se.crisp.signup4.util.Section._

@(groupForm: Form[Group], idToUpdate: Option[Long] = None)(implicit loggedInUser: Option[User])

@field(fieldName: String) = @{
  groupForm(fieldName).value.getOrElse("")
}

@hasErrors(fieldName: String) = @{
  if(groupForm(fieldName).hasErrors) {
    "has-error"
  }
}

@creatingNew() = @{
  idToUpdate.isEmpty
}

@theAction() = @{
  if(creatingNew()) {
    se.crisp.signup4.controllers.routes.GroupsSecured.create()
  } else {
    se.crisp.signup4.controllers.routes.GroupsSecured.update(idToUpdate.get)
  }
}

@se.crisp.signup4.views.html.page("Redigera grupp " + field("name"), section = Groups) {
  @if(creatingNew()) {
    @se.crisp.signup4.views.html.breadcrumb(Seq("Grupper" -> se.crisp.signup4.controllers.routes.Groups.list()),
      "Ny")
  } else {
    @se.crisp.signup4.views.html.breadcrumb(Seq("Grupper" -> se.crisp.signup4.controllers.routes.Groups.list(), field("name") -> se.crisp.signup4.controllers.routes.Groups.show(idToUpdate.get)),
      "Redigera")
  }


  <h2>@if(creatingNew()) {Nytt} else {Redigera} Grupp</h2>

  <form action="@theAction()" method="POST">
    <div class='form-group @hasErrors("name")'>
      <label for="name">Namn</label>
      <input type="text" maxlength="127" class="form-control" id="name" name="name" value='@field("name")' required=""/>
      <span class="show-on-error">Fyll i ett namn på gruppen</span>
    </div>

    <div class='form-group  @hasErrors("description")'>
      <label for="description">Beskrivning</label>
      <textarea maxlength="127" class="form-control" id="description" name="description" rows="3">@field("description")</textarea>
      <span class="show-on-error">Det här var en underlig beskrivning</span>
    </div>

    <fieldset>
      <legend>Konfigurering av epost från gruppen</legend>

      <div class='form-group @hasErrors("mail_from")'>
        <label for="mail_from">Avsändare</label>
        <input type="email" maxlength="127" class="form-control" id="mail_from" name="mail_from" value='@field("mail_from")' required=""/>
        <span class="show-on-error">Fyll i adressen till den som skall stå som avsändare</span>
      </div>

      <div class='form-group @hasErrors("mail_subject_prefix")'>
        <label for="mail_subject_prefix">Rubrikprefix</label>
        <input type="text" maxlength="127" class="form-control" id="mail_subject_prefix" name="mail_subject_prefix" value='@field("mail_subject_prefix")' required=""/>
        <span class="show-on-error">Fyll i vad mailrubriker skall börja med</span>
      </div>
    </fieldset>

    @if(groupForm.hasErrors || groupForm.hasGlobalErrors) {
      <div class="alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">Inmatningsfel</h4>
        <p>@errors(groupForm).mkString(", ")</p>
      </div>
    }

    <button type="submit" class="btn btn-primary" id="action" name="action" value="save">
      <span class="glyphicon glyphicon-ok"></span> Spara
    </button>
    <button type="button" class="btn btn-default" id="cancel" onClick='history.go(-1)'>
      <span class="glyphicon glyphicon-ban-circle"></span> Avbryt
    </button>
  </form>
}
