@import se.crisp.signup4.models.User
@import se.crisp.signup4.models.Group
@import se.crisp.signup4.util.FormHelper
@import se.crisp.signup4.util.ThemeHelper
@import se.crisp.signup4.util.Section._
@import se.crisp.signup4.services.ImageUrl
@import se.crisp.signup4.util.AuthHelper

@(groupForm: Form[Group], idToUpdate: Option[Long] = None)(implicit loggedInUser: Option[User], messages: Messages, imageUrl: ImageUrl, formHelper: FormHelper, themeHelper: ThemeHelper, authHelper: AuthHelper)

@field(fieldName: String) = @{
  groupForm(fieldName).value.getOrElse("")
}

@hasErrors(fieldName: String) = @{
  if(groupForm(fieldName).hasErrors) {
    "has-error"
  }
}

@creatingNew() = @{
  idToUpdate.isEmpty
}

@theAction() = @{
  if(creatingNew()) {
    se.crisp.signup4.controllers.routes.Groups.create()
  } else {
    se.crisp.signup4.controllers.routes.Groups.update(idToUpdate.get)
  }
}

@se.crisp.signup4.views.html.page(Messages("group.edit", field("name")), section = Groups) {
  @if(creatingNew()) {
    @se.crisp.signup4.views.html.breadcrumb(Seq(Messages("navigation.groups") -> se.crisp.signup4.controllers.routes.Groups.list()),
      Messages("edit.new"))
  } else {
    @se.crisp.signup4.views.html.breadcrumb(Seq(Messages("navigation.groups") -> se.crisp.signup4.controllers.routes.Groups.list(), field("name") -> se.crisp.signup4.controllers.routes.Groups.show(idToUpdate.get)),
      Messages("edit.edit"))
  }


  <h2>@if(creatingNew()) {@Messages("group.new")} else {@Messages("group.edit")}</h2>

  <form action="@theAction()" method="POST">
    <div class='form-group @hasErrors("name")'>
      <label for="name">@Messages("group.edit.name")</label>
      <input type="text" maxlength="127" class="form-control" id="name" name="name" value='@field("name")' required=""/>
      <span class="show-on-error">@Messages("group.edit.name.error")</span>
    </div>

    <div class='form-group  @hasErrors("description")'>
      <label for="description">@Messages("group.edit.description")</label>
      <textarea maxlength="127" class="form-control" id="description" name="description" rows="3">@field("description")</textarea>
      <span class="show-on-error">@Messages("group.edit.description.error")</span>
    </div>

    <fieldset>
      <legend>@Messages("group.edit.email.title")</legend>

      <div class='form-group @hasErrors("mail_from")'>
        <label for="mail_from">@Messages("group.edit.email.sender")</label>
        <input type="email" maxlength="127" class="form-control" id="mail_from" name="mail_from" value='@field("mail_from")' required=""/>
        <span class="show-on-error">@Messages("group.edit.email.sender.error")</span>
      </div>

      <div class='form-group @hasErrors("mail_subject_prefix")'>
        <label for="mail_subject_prefix">@Messages("group.edit.email.subjectprefix")</label>
        <input type="text" maxlength="127" class="form-control" id="mail_subject_prefix" name="mail_subject_prefix" value='@field("mail_subject_prefix")' required=""/>
        <span class="show-on-error">@Messages("group.edit.email.subjectprefix.error")</span>
      </div>
    </fieldset>

    @if(groupForm.hasErrors || groupForm.hasGlobalErrors) {
      <div class="alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">@Messages("edit.error")</h4>
        <p>@formHelper.errors(groupForm).mkString(", ")</p>
      </div>
    }

    <button type="submit" class="btn btn-primary" id="action" name="action" value="save">
      <span class="glyphicon glyphicon-ok"></span> @Messages("button.save")
    </button>
    <button type="button" class="btn btn-default" id="cancel" onClick='history.go(-1)'>
      <span class="glyphicon glyphicon-ban-circle"></span> @Messages("button.cancel")
    </button>
  </form>
}
