@import se.crisp.signup4.models.User
@import se.crisp.signup4.models.Group
@import se.crisp.signup4.util.AuthHelper._
@import se.crisp.signup4.util.Section._
@import se.crisp.signup4.services.ImageUrl

@(groups: Seq[Group])(implicit loggedInUser: Option[User], messages: Messages, imageUrl: ImageUrl)

@se.crisp.signup4.views.html.page(Messages("navigation.groups"), section = Groups) {

  @se.crisp.signup4.views.html.breadcrumb(Seq(), Messages("navigation.groups"))

  <h2>@Messages("navigation.groups")</h2>

  @groups.map { group =>
    <div class="list-row">
      <h4><a href="@se.crisp.signup4.controllers.routes.Groups.show(group.id.get)">@group.name</a></h4>
      <p>@group.description</p>
    </div>
  }

  @if(isAdmin(loggedInUser)) {
    <div class="btn-row">
      <a href="@se.crisp.signup4.controllers.routes.GroupsSecured.createForm()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>
        @Messages("group.addgroup")</a>
    </div>
  }
}