@(event: models.Event, user: models.User, baseURL: String)

@import util.DateHelper._
@import util.ThemeHelper._
@import util.ThemeHelper._

<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inställt: @event.group.name : @event.name</title>
  </head>
  <body style="font-family: arial, verdana, sans-serif; font-size: small; margin: 1em;">
    <h3 style="font-family: expressway, arial, verdana, sans-serif; border-bottom: solid 3px #DB370B; margin-bottom: 0">@APPLICATION_NAME</h3>
    <div style="min-height: 10px; background-color: #00759F;"></div>
    <h2 style="font-family: expressway, arial, verdana, sans-serif;"><a style="color:#00759F; text-decoration:none" href="@baseURL@routes.Groups.show(event.group.id.get)">Inställt i gruppen @event.group.name</a></h2>
    <p>
      Hej @{user.firstName}!
    </p>
    <p>
      Tyvärr har denna sammankomst blivit inställd.
    </p>
    <div style="background-color: #EFEAE5; padding: 1em; border-radius: 0.3em;">
      <h3 style="font-family: expressway, arial, verdana, sans-serif;"><a style="color:#00759F; text-decoration:none" href="@baseURL@routes.Events.show(event.id.get)">Inställt: @event.name</a></h3>
      <p>@event.cancellationReason.getOrElse("")</p>
      <ul>
        <li><strong>Tid:</strong> @asDateTime(event.startTime) - @asTime(event.endTime)</li>
      </ul>
    </div>
  </body>
</html>
