@(eventForm: Form[Event], group: Group, idToUpdate: Option[Long] = None)(implicit loggedInUser: Option[User])

@import util.FormHelper._
@import util.Section._

@field(fieldName: String) = @{ eventForm(fieldName).value.getOrElse("") }

@lastSignupIsSameDay() = @{field("same_day") == "true" || creatingNew}


@hasErrors(fieldName: String) = @{ if(eventForm(fieldName).hasErrors) { "error" } }

@creatingNew() = @{
  idToUpdate.isEmpty
}

@theAction() = @{
  if(creatingNew()) {
    routes.EventsSecured.create()
  } else {
    routes.EventsSecured.update(idToUpdate.get)
  }
}

@today() = @{
  util.DateHelper.asDate(new java.util.Date())
}

@page("Redigera sammankomst " + field("name"), section = Groups){

@if(creatingNew()) {
  @breadcrumb(Seq("Grupper" -> routes.Groups.list(), group.name -> routes.Groups.show(group.id.get)),
              "Ny")
} else {
  @breadcrumb(Seq("Grupper" -> routes.Groups.list(), group.name -> routes.Groups.show(group.id.get), field("name") -> routes.Events.show(idToUpdate.get)),
              "Redigera")
}




<div class="row">
  <div class="span5">
    <h2>@if(creatingNew()) {Ny} else {Redigera} Sammankomst</h2>
  </div>
</div>

<div class="row">
  <div class="span5">
    <form class="form" action="@theAction()" method="POST">
      <fieldset>
        <div class='control-group @hasErrors("name")'>
          <label class="control-label" for="name">Namn:</label>

          <div class="controls">
            <input type="text" maxlength="127" class="input-xlarge" id="name" name="name" value='@field("name")' required=""/>
            <span class="show-on-error">Fyll i ett namn på sammankomsten</span>
          </div>
        </div>

        <div class='control-group  @hasErrors("description")'>
          <label class="control-label" for="description">Beskrivning:</label>

          <div class="controls">
            <textarea class="span5 rich-textarea" id="description" name="description" rows="7" maxlength="10240">@field("description")</textarea>
            <span class="show-on-error">Beskrivningen är för lång (max 10240 tecken)</span>
          </div>
        </div>

        <div class='control-group  @hasErrors("venue")'>
          <label class="control-label" for="venue">Plats:</label>

          <div class="controls">
            <input type="text" maxlength="127" class="input-xlarge" id="venue" name="venue" value='@field("venue")'/>
            <span class="show-on-error">Fyll i en plats där sammankomsten äger rum</span>
          </div>
        </div>

        <div class='control-group @hasErrors("start_date")'>
          <label class="control-label" for="start_date">Dag: </label>

          <input type="date" class="input-medium" id="start_date" name="start_date"
          value='@field("start_date")' min="@today()" required=""/>

          <div class="show-on-error">Ogiltigt datum eller klockslag</div>
        </div>

        <div class='form-inline control-group @hasErrors("start_time") @hasErrors("end_time")'>
          <label class="control-label" for="start_time"> från kl</label>

          <input type="time" class="input-small" id="start_time" name="start_time" value='@field("start_time")'
          required=""/>

          <label class="control-label" for="end_time"> till kl</label>

          <input type="time" class="input-small" id="end_time" name="end_time" value='@field("end_time")'
          required=""/>
          <div class="show-on-error">Ogiltigt datum eller klockslag</div>
        </div>

        <div class="space-berfore">
        Sista anmälning:
        </div>
        <div class='form-inline control-group @hasErrors("last_signup_date")'>
          <input type="checkbox" class="input-xlarge" id="same_day" name="same_day" value="true" @if(lastSignupIsSameDay()){checked=""}
            onclick='signupDate=document.getElementById("last_signup_date"); signupDate.disabled=this.checked; signupDate.required=!this.checked' />
          <label class="control-label" for="same_day">samma dag</label>

          <label class="control-label" for="last_signup_date">, eller </label>
          <input type="date" class="input-medium" id="last_signup_date" name="last_signup_date"
                 value='@field("last_signup_date")' min="@today()" @if(!lastSignupIsSameDay()){required=""} else {disabled=""}/>

          <div class="show-on-error">Sista anmälningsdag får inte vara efter sammankomsten</div>
        </div>

        <div class="space-berfore">
        Hantering av injudna:
        </div>

        <label class="radio">
          <input type="radio"
                name="invited"
                id="invited_only"
                value="invited_only"
                @if(field("invited") equals "invited_only") {checked}
                onclick='noField=document.getElementById("max_participants"); noField.disabled=true; noField.required=false'>
          Bara inbjudna får komma
        </label>
        <label class="radio">
          <input type="radio"
                name="invited"
                id="allow_extra_friends"
                value="allow_extra_friends"
                @if(field("invited") equals "allow_extra_friends") {checked}
                onclick='noField=document.getElementById("max_participants"); noField.disabled=true; noField.required=false'>
          Inbjudna får ta med extra vänner
        </label>
        <label class="radio form-inline">
          <input type="radio"
                name="invited"
                id="max_number_of_participants_selected"
                value="max_number_of_participants_selected"
                @if(field("invited") equals "max_number_of_participants_selected") {checked}
                onclick='noField=document.getElementById("max_participants"); noField.disabled=false; noField.required=true'>
          Max antal deltagare:
          <input type="number"
                class="input-mini"
                id="max_participants"
                name="max_participants"
                value='@field("max_participants")'
                min="1"
                @if(!field("invited").equals("max_number_of_participants_selected")) {disabled}>
        </label>

        <input type="hidden" id="groupId" name="groupId" value='@group.id.get'/>

        @if(eventForm.hasErrors || eventForm.hasGlobalErrors) {
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <h4 class="alert-heading">Inmatningsfel</h4>

          <p>@errors(eventForm).mkString(", ")</p>
        </div>
        }

        <div class="form-actions">
          <button type="submit" class="btn btn-primary" id="action" name="action" value="save">
            <i class="icon-ok icon-white"></i>Spara
          </button>
          <button type="button" class="btn" id="cancel" onClick="history.go(-1)">
            <i class="icon-ban-circle"></i>Avbryt
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
}
