@(event: models.Event, newEvent : Boolean)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap/stylesheets/main.css">
    <style type="text/css">
        body { padding: 20px }
        div.wide1 { padding-top: 30px; padding-left:12px }
        div.wide2 { padding-top: 12px; padding-left:4px }
    </style>
    <title>Edit @event.name</title>
 </head>


<body>
<h2>Edit Event</h2>
  <div class="row">
    <div class="span6">
      <form class="form-horizontal" action="@routes.Events.create" method="POST">
        <fieldset>
          <legend>@event.name</legend>
          
          <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="name" name="name" value="@event.name">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="description" name="description" value="@event.description">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="when">When</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="when" name="when" value='@event.when.format("yyyy-MM-dd HH:mm")'>
            </div>
          </div>


          <div class="form-actions">
            <button type="submit" class="btn btn-primary" id="action" name="action" value="save"><i class="icon-ok icon-white"></i>Save</button>
            <button type="button" class="btn" id="cancel" onClick='javascript:window.location="@routes.Events.list"'><i class="icon-stop icon-white"></i>Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

<script src="/public/javascripts/jquery-1.7.1.min.js"></script>
<script src="/public/javascripts/bootstrap/bootstrap-modal.js"></script> 

</body>
</html>