@(event: models.Event, user: models.User, baseURL: String)

@import util.DateHelper._

<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@event.group.name : @event.name</title>
  </head>
  <body style="font-family: arial, verdana, sans-serif; font-size: small; margin: 1em;">
    <h3 style="font-family: expressway, arial, verdana, sans-serif; border-bottom: solid 3px #DB370B; margin-bottom: 0">SignUp</h3>
    <div style="min-height: 10px; background-color: #00759F;"></div>
    <h2 style="font-family: expressway, arial, verdana, sans-serif;"><a style="color:#00759F; text-decoration:none" href="@baseURL@routes.Groups.show(event.group.id.get)">@event.group.name</a></h2>
    <p>
      Hej @{user.firstName}!
    </p>
    <p>
      Nu är det dags att anmäla sig till nästa event.
    </p>
    <div style="background-color: #EFEAE5; padding: 1em; border-radius: 0.3em;">
      <h3 style="font-family: expressway, arial, verdana, sans-serif;"><a style="color:#00759F; text-decoration:none" href="@baseURL@routes.Events.show(event.id.get)">@event.name</a></h3>
      <p>@Html(event.description)</p>
      <ul>
        <li><strong>Tid:</strong> @asDateTime(event.startTime) - @asTime(event.endTime)</li>
        <li><strong>Plats:</strong> @event.venue</li>
      </ul>
      @if(!sameDay(event.startTime, event.lastSignUpDate)) {
        <p>Sista anmälningsdag @asDate(event.lastSignUpDate)</p>
      }

    </div>
    <p style="margin-top: 2em; margin-bottom: 2em">
      <a style="background-color: #DB370B; color: white; padding: 1em; border-radius: 6px; border: solid 1px rgba(0, 0, 0, 0.0980392);font-weight: bold; text-decoration: none;"
         href="@baseURL@routes.Participations.editForm(event.id.get, user.id.get)">Anmäl dig här!</a>
    </p>
  </body>
</html>
