@(events: Seq[models.Event])

@page("Event"){
<div class="row">
  <div class="span5">
    <ul class="breadcrumb">
      <li>
        <a href="@routes.Application.index"><i class="icon-home"></i> Start</a> <span class="divider">/</span>
      </li>
      <li class="active">Event</li>
    </ul>
    <h2>Event</h2>
    <table class="table table-striped">
      @events.map { event =>
      <tr>
        <td>
          <dl class="participation">
            <dt><a href="@routes.Events.show(event.id.get)">
              @event.name
            </a></dt>
            <dd>@event.description</dd>
          </dl>
        </td>
        <td>
          <strong>@event.start_time.format("yyyy-MM-dd")</strong><br/>
          @event.start_time.format("HH:mm")-@event.end_time.format("HH:mm")
        </td>
      </tr>
      }
    </table>
    <p>
      <a href="@routes.Events.createForm" class="btn btn-primary"><i class="icon-plus icon-white"></i> Nytt</a>
    </p>
  </div>
</div>
}