@(events: Seq[models.Event])(implicit loggedInUser: Option[User])

@import util.DateHelper._
@import util.Section._

@page("Event", section = Other) {
<div class="row">
  <div class="span5">
    <ul class="breadcrumb">
      <li>
        <a href="@routes.Application.index()">Hem</a> <span class="divider">»</span>
      </li>
      <li class="active">Event</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span5">
    <h2>Event</h2>
  </div>
</div>

@events.map { event =>
<div class="row">
  <div class="span5 list-row">
    <div class="row">
      <div class="span3">
        <dl class="participation">
          <dt><a href="@routes.Events.show(event.id.get)">
            @event.name [@event.group.name]
          </a></dt>
          <dd>@Html(event.description)</dd>
        </dl>
      </div>
      <div class="span2">
        <strong>@asDate(event.startTime)</strong><br/>
        @asTime(event.startTime)-@asTime(event.endTime)
      </div>
    </div>
  </div>
</div>
}
}
