@(event: models.Event, unregisteredUsers : Seq[models.User])
<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/main.css">
  <title>@event.name</title>
</head>

<body class="padded">

<h2>@event.name</h2>

<p>@event.description</p>

<div class="row">
  <div class="span1 eventlabel">
    Tid:
  </div>
  <div class="span3">
    @event.when.format("yyyy-MM-dd HH:mm")
  </div>
</div>
<div class="row">
  <div class="span1 eventlabel">
    Plats:
  </div>
  <div class="span3">
    @event.venue
  </div>
</div>

<div class="row">
  <div class="span4">
    <p>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="unregistered">Ej registrerade</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <dl class="participation">
            @unregisteredUsers.map { user =>
            <dt>@user.firstName @user.lastName
            <dt>
            <dd>@user.comment</dd>
            }
          </dl>
        </td>
      </tr>
      </tbody>
    </table>
    </p>
  </div>
</div>
</body>
</html>
