@(event: models.Event, members: ParticipationLists, guests: ParticipationLists, logEntries: Seq[LogEntry], reminders: Seq[Reminder])(implicit flash: Flash, lang: Lang, loggedInUser: Option[User])

@import util.AuthHelper._
@import util.DateHelper._
@import util.Section._


@asCssClass(status: models.Status.Value) = @{
status match {
    case Status.On => "participation-on"
    case Status.Maybe => "participation-maybe"
    case Status.Off => "participation-off"
    case Status.Unregistered => "participation-unregistered"
  }
}

@asMessage(status: models.Status.Value) = @{
status match {
    case Status.On => "Kommer"
    case Status.Maybe => "Kanske"
    case Status.Off => "Kommer inte"
    case Status.Unregistered => "Har inte svarat"
  }
}


@page(event.name, section = Groups) {

@breadcrumb(Seq("Grupper" -> routes.Groups.list(), event.group.name -> routes.Groups.show(event.group.id.get)),
            event.name)

<div class="row">
  <div class="span5">
    <h2>@event.name</h2>
  </div>
</div>

<div class="row">
  <div class="span5">

    @if(event.endTime.before(new java.util.Date())) {
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Det här eventet har redan inträffat!
      </div>
    }

    @if(flash.get("success").isDefined) {
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @flash.get("success")
      </div>
    }

    <div class="well">
      <p>@Html(event.description)</p>
      <ul>
        <li><strong>Tid:</strong> @asDateTime(event.startTime)-@asTime(event.endTime)</li>
        <li><strong>Plats:</strong> @event.venue</li>
      </ul>

      @if(isAdmin(loggedInUser)) {
        <a href="@routes.Events.updateForm(event.id.get)" class="btn"><i class="icon-pencil"></i> Redigera</a>
        <a data-toggle="modal" href="#remove_event_@event.id" class="btn"><i class="icon-trash"></i> Ta bort</a>

        <div id="remove_event_@event.id" class="modal smaller-modal hide fade" style="display: none">
          <div class="modal-header">
            <button class="close transparent" data-dismiss="modal"><i class="icon-remove"></i></button>
            <h3>Vill du ta bort event?</h3>
          </div>
          <div class="modal-body">
            <p>
              Du håller på att ta bort eventet <strong>@event.name</strong>.
            </p>
            <p>
              Vill du fortsätta?
            </p>
          </div>
          <div class="modal-footer">
            <form action="@routes.Events.delete(event.id.get)" method="POST">
              <a href="#" class="btn" data-dismiss="modal"><i class="icon-ban-circle"></i> Avbryt</a>
              <button type="submit" class="btn btn-primary"><i class="icon-trash icon-white"></i> Ta bort</button>
            </form>
          </div>
        </div>

        <a data-toggle="modal" href="#notify_participants_@event.id" class="btn"><i class="icon-envelope"></i> Påminn de som inte svarat</a>

        <div id="notify_participants_@event.id" class="modal smaller-modal hide fade" style="display: none">
          <div class="modal-header">
            <button class="close transparent" data-dismiss="modal"><i class="icon-remove"></i></button>
            <h3>Vill du e-posta de som ännu inte svarat?</h3>
          </div>
          <div class="modal-body">
            <p>
              Du håller på att skicka en påminnelse via e-post till alla inbjudna delatagare till eventet <strong>@event.name</strong> som ännu inte svarat.
            </p>
            <p>
              Vill du fortsätta?
            </p>
          </div>
          <div class="modal-footer">
            <form action="@routes.Events.notifyParticipants(event.id.get)" method="POST">
              <a href="#" class="btn" data-dismiss="modal"><i class="icon-ban-circle"></i> Avbryt</a>
              <button type="submit" class="btn btn-primary"><i class="icon-envelope icon-white"></i> Påminn de som inte svarat</button>
            </form>
          </div>
        </div>
      }

      <script src='@routes.Assets.at("addthisevent/js/atemay.js")'></script>

      <script type="text/javascript">
        addthisevent.settings ( {
          license : "aao8iuet5zp9iqw5sm9z",
          mouse : false,
          css : false,
          outlook : { show : true, text : "Outlook / iCal" },
          ical : { show : false, text : "Kalendern i datorn" },
          google : { show : true, text : "Google-kalender" },
          yahoo : { show : true, text : "Yahoo-kalender" },
          hotmail : { show : true, text : "Hotmail-kalender" }
        } ) ;
      </script>

      <a href="@routes.Events.show(event.id.get)" title="Lägg till i kalender" class="addthisevent">
        <i class="icon-calendar icon-white"></i> Lägg till i kalender
        <span class="_url">@routes.Events.show(event.id.get)</span>
        <span class="_start">@util.DateHelper.asDate(event.startTime) @util.DateHelper.asTime(event.startTime)</span>
        <span class="_end">@util.DateHelper.asDate(event.endTime) @util.DateHelper.asTime(event.endTime)</span>
        <span class="_zonecode">38</span>
        <span class="_summary">@event.name</span>
        <span class="_description">@event.description</span>
        <span class="_location">@event.venue</span>
        <span class="_organizer">@event.group.name</span>
        <span class="_organizer_email">@event.group.mailFrom</span>
        <span class="_all_day_event">false</span>
        <span class="_date_format">@util.DateHelper.DATE</span>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="span5">
    <span class="label @asCssClass(Status.On)">
      @{members.on.size + guests.on.size}
      @asMessage(Status.On).toLowerCase
    </span>

    <span class="label @asCssClass(Status.Maybe)">
      @{members.maybe.size + guests.maybe.size}
      @asMessage(Status.Maybe).toLowerCase
    </span>

    <span class="label @asCssClass(Status.Off)">
      @{members.off.size + guests.off.size}
      @asMessage(Status.Off).toLowerCase
    </span>

    <span class="label @asCssClass(Status.Unregistered)">
      @{members.unregistered.size + guests.unregistered.size}
      @asMessage(Status.Unregistered).toLowerCase
    </span>
  </div>
</div>

@if(isAdmin(loggedInUser) && !reminders.isEmpty) {
  <div class="row">
    <div class="span5">
      <h3>Påminnelser</h3>
    </div>
  </div>

  @reminders.map { reminder =>
    <div class="row">
      <div class="span5 list-row">
        <div class="row">
          <div class="span5">
              @reminder.daysBefore dag(ar) innan
          </div>
        </div>
      </div>
    </div>
  }
}

@if(!logEntries.isEmpty) {
  <div class="row">
    <div class="span5">
      <h3>Händelser</h3>
    </div>
  </div>

  @logEntries.map { logEntry =>
    <div class="row">
      <div class="span5 list-row">
        <div class="row">
          <div class="span5">
            <span class="muted">@asDateTime(logEntry.when)</span>
            @logEntry.message
          </div>
        </div>
      </div>
    </div>
  }
}

<div class="row">
  <div class="span5">
    <h3>Gäster</h3>
  </div>
</div>


@if(guests.isEmpty) {
  <p>Inga extra gäster</p>
} else {
  @views.html.events.tags.listParticipations(guests.on, withRemoveButton = true)
  @views.html.events.tags.listParticipations(guests.maybe, withRemoveButton = true)
  @views.html.events.tags.listParticipations(guests.off, withRemoveButton = true)
  @views.html.events.tags.listParticipations(guests.unregistered, withRemoveButton = true)
}


@if(isAdmin(loggedInUser)) {
  <div class="row">
    <div class="span5 btn-row">
      <a href="@routes.Participations.createGuestForm(event.id.get)" class="btn"><i class="icon-plus"></i> Ny gäst</a>
    </div>
  </div>
}

<div class="row">
  <div class="span5">
    <h3>Medlemmar</h3>
  </div>
</div>

@views.html.events.tags.listParticipations(members.on)
@views.html.events.tags.listParticipations(members.maybe)
@views.html.events.tags.listParticipations(members.off)
@views.html.events.tags.listParticipations(members.unregistered)

}
