@import se.crisp.signup4.models.User
@import se.crisp.signup4.services.ImageUrl

@(errorMessage: String, details: String)(implicit loggedInUser: Option[User] = None, messages: Messages, imageUrl: ImageUrl)

@se.crisp.signup4.views.html.page(title = Messages("errorpage.title"), section = se.crisp.signup4.util.Section.Other, showLogin = false) {

  @se.crisp.signup4.views.html.breadcrumb(Seq(), "")

  <h2>@Messages("errorpage.oops")</h2>
  <p class="alert alert-danger">
  @errorMessage
  </p>
  @if(details.length > 0) {
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#techBody">
          <h4 class="panel-title">@Messages("errorpage.details")</h4>
        </a>
      </div>
      <div class="collapse" id="techBody">
        <div class="panel-body scrollx">
          <code>@details</code>
        </div>
      </div>
    </div>
  }
  <p>
    <a href="@se.crisp.signup4.controllers.routes.Application.index()">@Messages("errorpage.startpage")</a>
  </p>
}


