@import se.crisp.signup4.controllers.Application.LoginFields
@import se.crisp.signup4.util.Section._
@import se.crisp.signup4.util.ThemeHelper
@import se.crisp.signup4.util.LocaleHelper
@import se.crisp.signup4.services.ImageUrl
@import se.crisp.signup4.util.AuthHelper

@import se.crisp.signup4.util.SocialHelper
@(loginForm: Form[LoginFields])(implicit flash: Flash, messages: Messages, imageUrl: ImageUrl, localeHelper: LocaleHelper, themeHelper: ThemeHelper, authHelper: AuthHelper, socialHelper: SocialHelper)

@field(fieldName: String) = @{
  loginForm(fieldName).value.getOrElse("")
}

@hasErrors(fieldName: String) = @{
  if(loginForm.hasErrors || loginForm.hasGlobalErrors) {
    "has-error"
  }
}

@se.crisp.signup4.views.html.page(title = themeHelper.APPLICATION_NAME, section = Login) {

  @se.crisp.signup4.views.html.breadcrumb(Seq(), Messages("login.login"))

  @if(flash.get("success").isDefined) {
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      @flash.get("success")
    </div>
  }
  @if(flash.get("error").isDefined) {
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      @localeHelper.errMsg(flash.get("error").getOrElse(""))
    </div>
  }
  @if(loginForm.hasErrors || loginForm.hasGlobalErrors) {
    <div class="alert alert-danger">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <p>@Messages("login.failed")</p>
    </div>
  }


  <form class="form-inline" action="@se.crisp.signup4.controllers.routes.Application.authenticate()" method="POST">
    <fieldset class="space-berfore">
      <legend>@Messages("login.with.password")</legend>
      <div class='form-group @hasErrors("email")'>
        <input type="email" placeholder="@Messages("login.email")" class="form-control" id="email" name="email" value='@field("email")' required="" autofocus=""/>
      </div>
      <div class='form-group @hasErrors("password")'>
        <input type="password" placeholder="@Messages("login.password")" class="form-control" id="password" name="password" value='@field("password")' required="" />
      </div>
      <button type="submit" class="btn btn-primary">@Messages("login.login")</button>
    </fieldset>
  </form>

  @if(socialHelper.socialConfigured) {
    <fieldset class="xlarge-space-berfore">
      <legend>@Messages("login.with.social")</legend>
      @if(socialHelper.googleLoginConfigured) {
        <p class="text-left">
          <a href='@se.crisp.signup4.controllers.routes.SocialLogin.authenticate("google")' class="btn-google">@Messages("login.google")</a>
        </p>
      }
      @if(socialHelper.facebookLoginConfigured) {
        <p class="text-left large-space-berfore">
          <a href='@se.crisp.signup4.controllers.routes.SocialLogin.authenticate("facebook")' class="btn-facebook">@Messages("login.facebook")</a>
        </p>
      }
    </fieldset>
  }

}(loggedInUser = None, messages = messages, imageUrl = imageUrl, authHelper = authHelper, themeHelper = themeHelper)