@import se.crisp.signup4.models.User
@import se.crisp.signup4.util.Section._
@import se.crisp.signup4.util.ThemeHelper._
@import se.crisp.signup4.controllers.GoogleAuth
@import se.crisp.signup4.controllers.FacebookAuth
@import se.crisp.signup4.util.LocaleHelper._
@import se.crisp.signup4.services.ImageUrl

@(loginForm: Form[Option[User]])(implicit flash: Flash, messages: Messages, imageUrl: ImageUrl)

@field(fieldName: String) = @{
  loginForm(fieldName).value.getOrElse("")
}

@hasErrors(fieldName: String) = @{
  if(loginForm.hasErrors || loginForm.hasGlobalErrors) {
    "has-error"
  }
}

@se.crisp.signup4.views.html.page(title = APPLICATION_NAME, section = Login) {

  @se.crisp.signup4.views.html.breadcrumb(Seq(), Messages("login.login"))

  @if(flash.get("success").isDefined) {
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      @flash.get("success")
    </div>
  }
  @if(flash.get("error").isDefined) {
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      @errMsg(flash.get("error").getOrElse(""))
    </div>
  }
  @if(loginForm.hasErrors || loginForm.hasGlobalErrors) {
    <div class="alert alert-danger">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <p>@Messages("login.failed")</p>
    </div>
  }


  <form class="form-inline" action="@se.crisp.signup4.controllers.routes.Application.authenticate()" method="POST">
    <fieldset class="space-berfore">
      <legend>@Messages("login.with.password")</legend>
      <div class='form-group @hasErrors("email")'>
        <input type="email" placeholder="@Messages("login.email")" class="form-control" id="email" name="email" value='@field("email")' required="" autofocus=""/>
      </div>
      <div class='form-group @hasErrors("password")'>
        <input type="password" placeholder="@Messages("login.password")" class="form-control" id="password" name="password" value='@field("password")' required="" />
      </div>
      <button type="submit" class="btn btn-primary">@Messages("login.login")</button>
    </fieldset>
  </form>

  @if(GoogleAuth.isConfigured || FacebookAuth.isConfigured) {
    <fieldset class="xlarge-space-berfore">
      <legend>@Messages("login.with.social")</legend>
      @if(GoogleAuth.isConfigured) {
        <p class="text-left">
          <a href="@se.crisp.signup4.controllers.routes.GoogleAuth.authenticate()" class="btn-google">@Messages("login.google")</a>
        </p>
      }

      @if(FacebookAuth.isConfigured) {
        <p class="text-left large-space-berfore">
          <a href="@se.crisp.signup4.controllers.routes.FacebookAuth.authenticate()" class="btn-facebook">@Messages("login.facebook")</a>
        </p>
      }
    </fieldset>
  }

}(loggedInUser = None, messages = messages, imageUrl = imageUrl)


