@import se.crisp.signup4.models.Event
@import se.crisp.signup4.models.Status
@import se.crisp.signup4.models.Participation
@import se.crisp.signup4.models.User
@import se.crisp.signup4.util.AuthHelper._
@import se.crisp.signup4.util.EmailHelper._
@import se.crisp.signup4.util.FormHelper._
@import se.crisp.signup4.util.Section._

@(participationForm: Form[Participation], event: Event, nonGuests: Seq[User])(implicit loggedInUser: Option[User])

@field(fieldName: String) = @{
  participationForm(fieldName).value.getOrElse("")
}

@hasErrors(fieldName: String) = @{
  if(participationForm(fieldName).hasErrors) {
    "has-error"
  }
}


@se.crisp.signup4.views.html.page("Gäst till " + event.name, section = Groups) {

  @se.crisp.signup4.views.html.breadcrumb(Seq("Grupper" -> se.crisp.signup4.controllers.routes.Groups.list(), event.group.name -> se.crisp.signup4.controllers.routes.Groups.show(event.group.id.get), event.name -> se.crisp.signup4.controllers.routes.Events.show(event.id.get)),
    "Ny Gäst")

  <h2>Ny gäst till @event.name</h2>

  <form action="@se.crisp.signup4.controllers.routes.ParticipationsSecured.createGuest()" method="POST">
    <fieldset>
      <div class='form-group @hasErrors("userId")'>
        <label for="userId">Befintlig användare</label>
        <select class="form-control" id="userId" name="userId" required="">
          <option>Ingen vald</option>
          @nonGuests.map { user =>
            <option value='@user.id.get' @if(user.id.get.toString.equals(field("userId"))) {selected=""}>@user.firstName @user.lastName ( @abbreviated(user.email, isLoggedIn(loggedInUser)) )</option>
          }
        </select>
        <span class="show-on-error">Välj en användare som medlem</span>
      </div>

      <input type="hidden" id="eventId" name="eventId" value="@event.id.get"/>
      <input type="hidden" id="status" name="status" value="@Status.Unregistered.toString"/>
      <input type="hidden" id="comment" name="comment" value=""/>
      <input type="hidden" id="number_of_participants" name="number_of_participants" value="1"/>

      @if(participationForm.hasErrors || participationForm.hasGlobalErrors) {
        <div class="alert alert-danger">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <h4 class="alert-heading">Inmatningsfel</h4>
          <p>@errors(participationForm).mkString(", ")</p>
        </div>
      }
    </fieldset>
    <fieldset class="space-berfore">
      <button type="submit" class="btn btn-primary" id="action" name="action" value="save">
        <span class="glyphicon glyphicon-ok"></span> Lägg till
      </button>
      <button type="button" class="btn btn-default" id="create" onClick='window.location.assign ("@se.crisp.signup4.controllers.routes.UsersSecured.createGuestForm(event.id.get)")'>
        <span class="glyphicon glyphicon-plus"></span> Ny användare
      </button>
      <button type="button" class="btn btn-default" id="cancel" onClick='window.location.assign ("@se.crisp.signup4.controllers.routes.Events.show(event.id.get)")'>
        <span class="glyphicon glyphicon-ban-circle"></span> Avbryt
      </button>
    </fieldset>
  </form>
}