@import se.crisp.signup4.models.Event
@import se.crisp.signup4.models.Status
@import se.crisp.signup4.models.Participation
@import se.crisp.signup4.models.User
@import se.crisp.signup4.util.AuthHelper
@import se.crisp.signup4.util.EmailHelper._
@import se.crisp.signup4.util.FormHelper
@import se.crisp.signup4.util.Section.Groups
@import helper._

@this(page: se.crisp.signup4.views.html.page, breadcrumbView: se.crisp.signup4.views.html.breadcrumb, authHelper: AuthHelper, formHelper: FormHelper)

@(participationForm: Form[Participation], event: Event, nonGuests: Seq[User])(implicit loggedInUser: Option[User], messages: Messages, request: RequestHeader)

@field(fieldName: String) = @{
  participationForm(fieldName).value.getOrElse("")
}

@hasErrors(fieldName: String) = @{
  if(participationForm(fieldName).hasErrors) {
    "has-error"
  }
}


@page(Messages("participation.guest.heading", event.name), section = Groups) {

  @breadcrumbView(Seq(Messages("navigation.groups") -> se.crisp.signup4.controllers.routes.Groups.list(),
    event.group.name -> se.crisp.signup4.controllers.routes.Groups.show(event.group.id.get),
    event.name -> se.crisp.signup4.controllers.routes.Events.show(event.id.get)),
    Messages("navigation.guest"))

  <h2>@Messages("participation.guest.heading", event.name)</h2>

  <form action="@se.crisp.signup4.controllers.routes.Participations.createGuest()" method="POST">
    @CSRF.formField
    <fieldset>
      <div class='form-group @hasErrors("userId")'>
        <label for="userId">@Messages("membership.existinguser")e</label>
        <select class="form-control" id="userId" name="userId" required="">
          <option>@Messages("option.noperson")</option>
          @nonGuests.map { user =>
            <option value='@user.id.get' @if(user.id.get.toString.equals(field("userId"))) {selected=""}>@user.firstName @user.lastName ( @abbreviated(user.email, authHelper.isLoggedIn(loggedInUser)) )</option>
          }
        </select>
        <span class="show-on-error">@Messages("participation.guest.error")</span>
      </div>

      <input type="hidden" id="eventId" name="eventId" value="@event.id.get"/>
      <input type="hidden" id="status" name="status" value="@Status.Unregistered.toString"/>
      <input type="hidden" id="comment" name="comment" value=""/>
      <input type="hidden" id="number_of_participants" name="number_of_participants" value="1"/>

      @if(participationForm.hasErrors || participationForm.hasGlobalErrors) {
        <div class="alert alert-danger">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <h4 class="alert-heading">@Messages("edit.error")</h4>
          <p>@formHelper.errors(participationForm).mkString(", ")</p>
        </div>
      }
    </fieldset>
    <fieldset class="space-berfore">
      <button type="submit" class="btn btn-primary" id="action" name="action" value="save">
        <span class="glyphicon glyphicon-ok"></span> @Messages("membership.add")
      </button>
      <button type="button" class="btn btn-default" id="create" onClick='window.location.assign ("@se.crisp.signup4.controllers.routes.Users.createGuestForm(event.id.get)")'>
        <span class="glyphicon glyphicon-plus"></span> @Messages("membership.new")
      </button>
      <button type="button" class="btn btn-default" id="cancel" onClick='window.location.assign ("@se.crisp.signup4.controllers.routes.Events.show(event.id.get)")'>
        <span class="glyphicon glyphicon-ban-circle"></span> @Messages("button.cancel")
      </button>
    </fieldset>
  </form>
}