@import se.crisp.signup4.models.Event
@import se.crisp.signup4.models.Status
@import se.crisp.signup4.models.Participation
@import se.crisp.signup4.models.User
@import se.crisp.signup4.util.AuthHelper._
@import se.crisp.signup4.util.DateHelper._
@import se.crisp.signup4.util.FormHelper._
@import se.crisp.signup4.util.Section._
@import se.crisp.signup4.services.ImageUrl

@(participationForm: Form[Participation], user: User, event: Event)(implicit loggedInUser: Option[User], lang: Lang)

@field(fieldName: String) = @{ participationForm(fieldName).value.getOrElse("") }

@hasErrors(fieldName: String) = @{ if(participationForm(fieldName).hasErrors) { "has-error" } }


@se.crisp.signup4.views.html.page(Messages("participation.heading", event.name), section = Groups) {

  @se.crisp.signup4.views.html.breadcrumb(Seq(Messages("navigation.groups") -> se.crisp.signup4.controllers.routes.Groups.list(),
    event.group.name -> se.crisp.signup4.controllers.routes.Groups.show(event.group.id.get),
    event.name -> se.crisp.signup4.controllers.routes.Events.show(event.id.get)),
    Messages("navigation.participation"))

  <h2>@Messages("participation.heading", event.name)</h2>

  @event match {
    case ev if(ev.endTime.before(new java.util.Date())) => {
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @Messages("event.eventpassed")
      </div>
    }
    case ev if(ev.lastSignupDatePassed) => {
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <img class="warning-icon" src='@routes.Assets.at("images/icon-warning.png")'/>
        @Messages("event.signupdatepassed")
      </div>
    }
    case ev if(Event.isFullyBooked(ev)) => {
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @Messages("event.full")
      </div>
    }
    case _ => {}
  }

  <div class="well">
    <p>@Html(event.description)</p>
    <ul>
      <li><strong>@Messages("event.time")</strong> @asDateTime(event.startTime)-@asTime(event.endTime)</li>
      <li><strong>@Messages("event.venue")</strong> @event.venue</li>
      @if(event.maxParticipants.isDefined) {
        <li><strong>@Messages("event.maxparticipants")</strong> @event.maxParticipants
          @if(Event.isFullyBooked(event)) {@Messages("event.fullybooked")}
        </li>
      }
    </ul>
    @if(!sameDay(event.startTime, event.lastSignUpDate)) {
      <p>@Messages("event.lastsignup", asDate(event.lastSignUpDate))</p>
    }

    @se.crisp.signup4.views.html.events.tags.addToCalendarButton(event)

    @if(isAdmin(loggedInUser)) {
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#notify_participant">
        <span class="glyphicon glyphicon-envelope"></span> @Messages("participation.remind")
      </button>

      <div class="modal fade" id="notify_participant" tabindex="-1" role="dialog" aria-labelledby="label_rnotify_participant" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Avbryt"><span aria-hidden="true">&times;</span></button>
              <h3 id="label_rnotify_participant">@Messages("participation.reminder.heading")</h3>
            </div>
            <div class="modal-body">
              <p>@Messages("participation.reminder.warning", user.firstName, user.lastName, event.name)</p>
              <p>@Messages("edit.continue")</p>
            </div>
            <div class="modal-footer">
              <form action="@se.crisp.signup4.controllers.routes.UsersSecured.remindParticipant(user.id.get, event.id.get)" method="POST">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  <span class="glyphicon glyphicon-ban-circle"></span> @Messages("button.cancel")
                </button>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span>
                  @Messages("participation.remind")</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    }
  </div>


  <h3>
    <img class="thumb thumb-background80" src="@ImageUrl(user, size = 80)" onerror="imgError(this);"/>
    @user.firstName @user.lastName
  </h3>

  <form action="@se.crisp.signup4.controllers.routes.Participations.createOrUpdate()" method="POST">
    <fieldset>
      <div class='form-group  @hasErrors("status")'>
        <label class="radio-inline">
          <input type="radio" name="status" id="on" value="On" @if(field("status") == Status.On.toString) {checked=""} @if(Event.isFullyBooked(event)) {disabled=""} />
          <span class="label label-default participation-on">@Messages("status.on")</span>
        </label>
        <label class="radio-inline">
          <input type="radio" name="status" id="maybe" value="Maybe" @if(field("status") == Status.Maybe.toString) {checked=""} />
          <span class="label label-default participation-maybe">@Messages("status.maybe")</span>
        </label>
        <label class="radio-inline">
          <input type="radio" name="status" id="off" value="Off" @if(field("status") == Status.Off.toString) {checked=""} />
          <span class="label label-default participation-off">@Messages("status.off")</span>
        </label>
        <p class="show-on-error">@Messages("participation.error.attendance")</p>
      </div>

      @if(event.allowExtraFriends) {
        <div class='form-inline form-group @hasErrors("number_of_participants")'>
          <label for="number_of_participants">@Messages("participation.participants") </label>
          <input type="number" class="form-control" id="number_of_participants" name="number_of_participants" value='@field("number_of_participants")' min="1" />
        </div>
      } else {
        <input type="hidden" id="number_of_participants" name="number_of_participants" value="1"/>
      }

      <div class='form-group  @hasErrors("comment")'>
        <label for="comment">@Messages("participation.comment")</label>
        <textarea class="form-control" maxlength="127" id="comment" name="comment" rows="2">@field("comment")</textarea>
      </div>

      <input type="hidden" id="userId" name="userId" value='@field("userId")'/>
      <input type="hidden" id="eventId" name="eventId" value='@field("eventId")'/>

      @if(participationForm.hasErrors || participationForm.hasGlobalErrors) {
      <div class="alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">@Messages("edit.error")</h4>
        <p>@errors(participationForm).mkString(", ")</p>
      </div>
      }


      <button type="submit" class="btn btn-primary" id="action" name="action" value="save">
        <span class="glyphicon glyphicon-ok"></span> @Messages("participation.save")
      </button>
      <button type="button" class="btn btn-default" id="cancel"
              onClick='window.location.assign("@se.crisp.signup4.controllers.routes.Events.show(event.id.get)") '>
        <span class="glyphicon glyphicon-ban-circle"></span> @Messages("button.cancel")
      </button>
    </fieldset>
  </form>
}