@import se.crisp.signup4.models.Event
@import se.crisp.signup4.models.Status
@import se.crisp.signup4.models.ParticipationLists
@import se.crisp.signup4.models.LogEntry
@import se.crisp.signup4.models.Reminder
@import se.crisp.signup4.models.User
@import se.crisp.signup4.util.AuthHelper._
@import se.crisp.signup4.util.DateHelper._
@import se.crisp.signup4.util.StatusHelper._
@import se.crisp.signup4.util.Section._

@(event: Event, members: ParticipationLists, guests: ParticipationLists, logEntries: Seq[LogEntry], reminders: Seq[Reminder])(implicit flash: Flash, lang: Lang, loggedInUser: Option[User])

@se.crisp.signup4.views.html.page(event.name, section = Groups) {

  @se.crisp.signup4.views.html.breadcrumb(Seq(Messages("breadcrumb.groups") -> se.crisp.signup4.controllers.routes.Groups.list(), event.group.name -> se.crisp.signup4.controllers.routes.Groups.show(event.group.id.get)),
    event.name)

  <h2>@event.name</h2>

  @event match {
    case ev if (ev.endTime.before(new java.util.Date())) => {
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @Messages("event.eventpassed")
      </div>
    }
    case ev if (ev.lastSignupDatePassed) => {
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <img class="warning-icon" src='@routes.Assets.at("images/icon-warning.png")'/>
        @Messages("event.signupdatepassed")
      </div>
    }
    case ev if (Event.isFullyBooked(ev)) => {
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @Messages("event.full")
      </div>
    }
    case _ => {}
  }

  @if(flash.get("success").isDefined) {
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      @flash.get("success")
    </div>
  }

  @if(flash.get("error").isDefined) {
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      @flash.get("error")
    </div>
  }

  <div class="well">
    <p>@Html(event.description)</p>
    <ul>
      <li><strong>@Messages("event.time")</strong> @asDateTime(event.startTime)-@asTime(event.endTime)</li>
      <li><strong>@Messages("event.venue")</strong> @event.venue</li>
      @if(event.maxParticipants.isDefined) {
        <li><strong>@Messages("event.maxparticipants")</strong> @event.maxParticipants
          @if(Event.isFullyBooked(event)) {@Messages("event.fullybooked")}
        </li>
      }
    </ul>

    @if(!sameDay(event.startTime, event.lastSignUpDate)) {
      <p>@Messages("event.lastsignup", asDate(event.lastSignUpDate))</p>
    }

    @se.crisp.signup4.views.html.events.tags.addToCalendarButton(event)

    @if(isAdmin(loggedInUser)) {
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle action-button" data-toggle="dropdown" aria-expanded="false">
          @Messages("event.actions") <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="@se.crisp.signup4.controllers.routes.EventsSecured.updateForm(event.id.get)"><span class="glyphicon glyphicon-pencil"></span>
            @Messages("edit.edit")</a></li>
          <li><a data-toggle="modal" data-target="#notify_participants_@event.id" href="#notify_participants_@event.id"><span class="glyphicon glyphicon-envelope"></span>
            @Messages("event.remind")</a></li>
          <li><a data-toggle="modal" data-target="#cancel_event_@event.id" href="#cancel_event_@event.id"><span class="glyphicon glyphicon-off"></span>
            @Messages("event.cancel")</a></li>
          <li class="divider"></li>
          <li><a data-toggle="modal" data-target="#remove_event_@event.id" href="#remove_event_@event.id"><span class="glyphicon glyphicon-trash"></span>
            @Messages("event.remove")</a></li>
        </ul>
      </div>

      <div class="modal fade" id="notify_participants_@event.id" tabindex="-1" role="dialog" aria-labelledby="label_notify_participants_@event.id" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Avbryt"><span aria-hidden="true">&times;</span></button>
              <h3 id="label_notify_participants_@event.id">@Messages("event.reminder.heading")</h3>
            </div>
            <div class="modal-body">
              <p>@Messages("event.reminder.warning", event.name)</p>
              <p>@Messages("event.continue")</p>
            </div>
            <div class="modal-footer">
              <form action="@se.crisp.signup4.controllers.routes.EventsSecured.remindParticipants(event.id.get)" method="POST">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  <span class="glyphicon glyphicon-ban-circle"></span> @Messages("button.cancel")
                </button>
                <button type="submit" class="btn btn-primary">
                  <span class="glyphicon glyphicon-envelope"></span> @Messages("event.remider.action")
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="cancel_event_@event.id" tabindex="-1" role="dialog" aria-labelledby="label_cancel_event_@event.id" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="@se.crisp.signup4.controllers.routes.EventsSecured.cancel(event.id.get)" method="POST">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Avbryt"><span aria-hidden="true">&times;</span></button>
                <h3 id="label_cancel_event_@event.id">@Messages("event.cancel.heading")</h3>
              </div>
              <div class="modal-body">
                <p>@Messages("event.cancel.warning", event.name)</p>
                <div class='form-group'>
                  <label for="reason">@Messages("event.cancel.reason")</label>
                  <textarea class="form-control" maxlength="512" id="reason" name="reason" rows="4"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  <span class="glyphicon glyphicon-ban-circle"></span>  @Messages("button.abort")
                </button>
                <button type="submit" class="btn btn-primary">
                  <span class="glyphicon glyphicon-off"></span>  @Messages("event.cancel.action")
                </button>
            </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="remove_event_@event.id" tabindex="-1" role="dialog" aria-labelledby="label_remove_event_@event.id" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Avbryt"><span aria-hidden="true">&times;</span></button>
              <h3 id="label_remove_event_@event.id">Vill du ta bort sammankomsten?</h3>
            </div>
            <div class="modal-body">
              <p>
                Du håller på att ta bort sammankomsten <strong>@event.name</strong>.
              </p>
              <p>
                Vill du fortsätta?
              </p>
            </div>
            <div class="modal-footer">
              <form action="@se.crisp.signup4.controllers.routes.EventsSecured.delete(event.id.get)" method="POST">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  <span class="glyphicon glyphicon-ban-circle"></span> Avbryt
                </button>
                <button type="submit" class="btn btn-primary">
                  <span class="glyphicon glyphicon-trash"></span> Ta bort
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    }
  </div>

  <p>
    <span class="label label-default @asCssClass(Status.On)">
      @{members.numberOn + guests.numberOn} @asMessage(Status.On).toLowerCase
    </span>
      &nbsp;
    <span class="label label-default @asCssClass(Status.Maybe)">
      @{members.numberMaybe + guests.numberMaybe} @asMessage(Status.Maybe).toLowerCase
    </span>
      &nbsp;
    <span class="label label-default @asCssClass(Status.Off)">
      @{members.numberOff + guests.numberOff} @asMessage(Status.Off).toLowerCase
    </span>
      &nbsp;
    <span class="label label-default @asCssClass(Status.Unregistered)">
      @{members.numberUnregistered + guests.numberUnregistered} @asMessage(Status.Unregistered).toLowerCase
    </span>
  </p>
  <p><a href="@se.crisp.signup4.controllers.routes.Events.asExcel(event.id.get)" class="btn btn-default">
    <img src="@routes.Assets.at("images/icon-spreadsheet.png")" class="signup-icon"/> @Messages("event.excel")
  </a></p>

  @if(isAdmin(loggedInUser) && reminders.nonEmpty) {
    <h3>@Messages("event.reminders")</h3>

    @reminders.map { reminder =>
      <div class="list-row">
        Påminnelse kommer automatiskt att skickas @asDate(reminder.date)
      </div>
    }
  }

  @if(logEntries.nonEmpty) {
    <a href="javascript:;" class="toggle" data-toggle="collapse" data-target="#to_toggle">
      <h3>
        @Messages("event.notifications")
        <small>(@Messages("event.numberof", logEntries.size))</small>
        <span id="toggle_icon" class="glyphicon glyphicon-triangle-right"></span>
      </h3>
    </a>

    <div id="to_toggle" class="collapse" >
    @logEntries.map { logEntry =>
      <div class="list-row">
        <span class="text-muted">@asDateTime(logEntry.when)</span> @logEntry.message
      </div>
    }
    </div>

    <script type="text/javascript">
        $('#to_toggle').on('show.bs.collapse hide.bs.collapse', function (e) {
          if (!$(this).is(e.target))return;
          $('#toggle_icon').toggleClass('glyphicon-triangle-right glyphicon-triangle-bottom');
        });
    </script>
  }

  <h3>@Messages("event.guests")</h3>


  @if(guests.isEmpty) {
    <p>@Messages("event.noguests")</p>
  } else {
    @se.crisp.signup4.views.html.events.tags.listParticipations(guests.on, withRemoveButton = true)
    @se.crisp.signup4.views.html.events.tags.listParticipations(guests.maybe, withRemoveButton = true)
    @se.crisp.signup4.views.html.events.tags.listParticipations(guests.off, withRemoveButton = true)
    @se.crisp.signup4.views.html.events.tags.listParticipations(guests.unregistered, withRemoveButton = true)
  }

  @if(isAdmin(loggedInUser)) {
    <div class="btn-row">
      <a href="@se.crisp.signup4.controllers.routes.ParticipationsSecured.createGuestForm(event.id.get)" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span> Ny gäst</a>
    </div>
  }

  <h3>@Messages("event.members")</h3>

  @se.crisp.signup4.views.html.events.tags.listParticipations(members.on)
  @se.crisp.signup4.views.html.events.tags.listParticipations(members.maybe)
  @se.crisp.signup4.views.html.events.tags.listParticipations(members.off)
  @se.crisp.signup4.views.html.events.tags.listParticipations(members.unregistered)

}
