@import "lib/bootstrap/less/bootstrap.less";

// Overriding some Bootstrap stuff

@iconSpritePath:          "/webjars/bootstrap/2.3.1/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/webjars/bootstrap/2.3.1/img/glyphicons-halflings-white.png";

.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 @baseLineHeight;
  list-style: none;
  background-color: white;
  border-bottom: @hrBorder solid 2px;
  > li {
    display: inline-block;
    .ie7-inline-block();
    > .divider {
      padding: 0 5px;
      color: @textColor;
    }
  }
  > .active {
    color: @textColor;
  }
}

.form-actions {
  padding: (@baseLineHeight - 1) 20px @baseLineHeight;
  margin-top: @baseLineHeight;
  margin-bottom: @baseLineHeight;
  background-color: @formActionsBackground;
  .border-radius(@baseBorderRadius);
  .clearfix(); // Adding clearfix to allow for .pull-right button containers
}


// From here on, SignUp specific stuff

@footerMidColor: @gray;

.participation-on {
  background-color: @btnSuccessBackground;
  text-transform: none;
  margin-right: 8px;
  margin-bottom: 4px;
}

.participation-maybe {
  background-color: @btnWarningBackground;
  text-transform: none;
  margin-right: 8px;
  margin-bottom: 4px;
}

.participation-off {
  background-color: @btnDangerBackground;
  text-transform: none;
  margin-right: 8px;
  margin-bottom: 4px;
}

.participation-unregistered {
  text-transform: none;
  margin-right: 8px;
  margin-bottom: 4px;
}

dt {
  padding-left: 4px;
}

dd {
  padding-left: 20px;
  margin-left: 0;
}

.item-list {
  margin-left: 10px;
}

dl.participation {
  margin-top: 0;
  margin-bottom: 0;
}

.transparent {
  background: transparent;
  padding: 0;
  border: none;
}

.smaller-modal {
  width: 370px;
}

.thumb {
  padding: 1px;
  margin: 3px;
  vertical-align: top;
}

.thumb-background16 {
  width: 16px;
  height: 16px;
  background: white center no-repeat url(/assets/images/user16.png);
}

.thumb-background40 {
  width: 40px;
  height: 40px;
  background: white center no-repeat url(/assets/images/user40.png);
}

.thumb-background80 {
  width: 80px;
  height: 80px;
  background: white center no-repeat url(/assets/images/user80.png);
}

.upload-thumb {
  padding: 1px;
  margin: 3px;
  vertical-align: top;
  float: right;
}

.big-thumb {
  padding: 1px;
  margin: 3px 3px 0 3px;
  vertical-align: bottom;
}

.login-thumb {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  background: white;
}

.show-on-error {
  display: none;
}

.error .show-on-error {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
  margin-bottom: 0;
  color: @btnDangerBackground;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 12px;
}

.navbar {
  margin-bottom: 0;
}

body {
  padding-top: 4px;
}

.list-row {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: darken(@wellBackground, 10%);
  padding: 4px;
  margin-top: 4px;
  background-color: @wellBackground;
}

.btn-row {
  margin-top: 6px;
  margin-bottom: 20px;
}

.email-address {
  color: @grayLight;
}

.big-name {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  margin-top: 12px;
}

.navigation-divider {
  min-height: 4px;
  background-color: @navbarBorder;
}

.footer-mid {
  margin-top: 100px;
  min-height: 53px;
  background-color: @footerMidColor;
}

.footer-bottom {
}

.created-by {
  color: white;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
}

.timestamp {
  color: lighten(@footerMidColor, 5%);
  font-size: 8px;
}

.space-berfore {
  margin-top: 20px;
}

.small-space-berfore {
  margin-top: 10px;
}

pre {
  overflow-x: auto;
}

pre code {
  word-wrap: normal;
  white-space: pre;
}

.input-group {
  background: @inputBackground;
  border: @inputBorder;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 9px;
  margin-bottom: 20px;
}

.warning-icon {
  vertical-align: middle;
}


.signup-icon {
}
