@(event: Event)

@import util.HtmlHelper._
@import util.LocaleHelper._
@import play.api.Play.current

<script type="text/javascript" src="https://addthisevent.com/libs/ate-latest.min.js"></script>

<script type="text/javascript">
  addthisevent.settings ({
    license : '@play.api.Play.configuration.getString("addthisevent.license").getOrElse("")',
    mouse : false,
    css : false,
    google     : {show:true, text:"<i class='fa fa-google fa-fw'></i> Google <small><em>(online)</em></small>"},
    outlookcom : {show:true, text:"<i class='fa fa-windows fa-fw'></i> Outlook.com <small><em>(online)</em></small>"},
    yahoo      : {show:true, text:"<i class='fa fa-yahoo fa-fw'></i> Yahoo <small><em>(online)</em></small>"},
    outlook    : {show:true, text:"<i class='fa fa-windows fa-fw'></i> Outlook"},
    appleical  : {show:true, text:"<i class='fa fa-apple fa-fw'></i> Apple Kalender"},
    dropdown   : {order:"google,outlookcom,yahoo,outlook,appleical"}
  });
</script>


<div title="Add to Calendar" class="addthisevent">
  <span class="glyphicon glyphicon-calendar"></span> Lägg till i kalender <span class="caret"></span>
  <span class="start">@util.DateHelper.asDate(event.startTime) @util.DateHelper.asTime(event.startTime)</span>
  <span class="end">@util.DateHelper.asDate(event.endTime) @util.DateHelper.asTime(event.endTime)</span>
  <span class="timezone">@TZ_NAME</span>
  <span class="title">@event.name</span>
  <span class="description">@{
    val DESCRIPTION_MAX_LENGTH_FOR_ADDTHISEVENT_API = 700
    val description = stripFromHtml(event.description)
    if(description.length > DESCRIPTION_MAX_LENGTH_FOR_ADDTHISEVENT_API)
      description.substring(0, DESCRIPTION_MAX_LENGTH_FOR_ADDTHISEVENT_API) + "..."
    else
      description
  }</span>
  <span class="location">@event.venue</span>
  <span class="organizer">@event.group.name</span>
  <span class="organizer_email">@event.group.mailFrom</span>
  <span class="all_day_event">false</span>
  <span class="date_format">@util.DateHelper.DATE.toUpperCase</span>
</div>
