@(participations: Seq[Participation], withRemoveButton: Boolean = false)(implicit loggedInUser: Option[User])

@import util.AuthHelper._
@import util.DateHelper._
@import util.HtmlHelper._
@import services.ImageUrl


@participations.map { participation =>
<div class="row">
  <div class="col-md-5 list-row">
    <div class="row">
      <div class="col-md-1">
        <a href="@routes.Participations.editForm(participation.event.id.get, participation.user.id.get)">
        <img class="thumb thumb-background40" src="@ImageUrl(participation.user)" onerror="imgError(this);"/>
        </a>
      </div>
      <div class="col-md-2">
        <dl class="participation">
          <dt><a href="@routes.Participations.editForm(participation.event.id.get, participation.user.id.get)">
            @participation.user.firstName
            @participation.user.lastName</a></dt>
          @if(isLoggedIn(loggedInUser)) {
            <dd class="email-address">@participation.user.email</dd>
          }
          <dd>@participation.comment</dd>
        </dl>
      </div>
      <div class="col-md-2">
        <a href="@routes.Participations.editForm(participation.event.id.get, participation.user.id.get)">
          <span class="label label-default @asCssClass(participation.status)">
          @asMessage(participation.status)
          </span>
        </a>
        @if(participation.isLateSignUp) {
          <a id="warning_@{participation.id.get}" href="javascript:void(0);" rel="popover" data-placement="right" data-content="Anmälde sig @asDate(participation.signUpTime.get), vilket är efter sista anmälningsdag." data-original-title="Sen anmälan">
            <img class="warning-icon" src='@routes.Assets.at("images/icon-warning.png")' alt="Sen anmälan"/>
          </a>
          <script type="text/javascript">$('#warning_@{participation.id.get}').popover()</script>
        }

        @if(withRemoveButton && isAdmin(loggedInUser)) {
          <a data-toggle="modal" href="#remove_participant_@participation.id" class="btn pull-right"><span class="glyphicon glyphicon-trash"></span></a>

          <div id="remove_participant_@participation.id" class="modal smaller-modal hide fade" style="display: none">
            <div class="modal-header">
              <button class="close transparent" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
              <h3>Vill du ta bort gästen?</h3>
            </div>
            <div class="modal-body">
              <p>
                  Du håller på att ta bort gästen <strong>@participation.user.firstName @participation.user.lastName</strong>
                  från sammankomsten <strong>@participation.event.name</strong>.
              </p>
              <p>
                  Vill du fortsätta?
              </p>
            </div>
            <div class="modal-footer">
              <form action="@routes.ParticipationsSecured.delete(participation.id.get)" method="POST">
                <a href="#" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Avbryt</a>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-trash glyphicon-inverse"></span> Ta bort</button>
              </form>
            </div>
          </div>
        }
        @if(participation.numberOfParticipants > 1){
          <p>@{participation.numberOfParticipants}st i sällskapet</p>
        }
      </div>
    </div>
  </div>
</div>
}
