@(event: models.Event, user: models.User, baseURL: String)

@import util.DateHelper._
@import util.ThemeHelper._
@import util.ThemeHelper._

<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inställt: @event.group.name : @event.name</title>
  </head>
  <body style="font-family: arial, helvetica, sans-serif; font-size: small; margin: 1em;">
    <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: normal; background-color: #930000; color: white;padding: 10px;">@APPLICATION_NAME</h3>
    <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: normal;"><a style="color: #995E00; text-decoration:none;" href="@baseURL@routes.Groups.show(event.group.id.get)">Inställt i gruppen @event.group.name</a></h2>
    <p>
      Hej broder @{user.firstName}!
    </p>
    <p>
      Tyvärr har denna sammankomst blivit inställd.
    </p>
    <div style="background-color: #F4ECE1; padding: 1em; border-radius: 0.3em;">
      <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: normal;"><a style="color:#995E00; text-decoration:none" href="@baseURL@routes.Events.show(event.id.get)">@event.name</a></h3>
      <ul>
        <li><strong>Tid:</strong> @asDateTime(event.startTime) - @asTime(event.endTime)</li>
      </ul>
    </div>
  </body>
</html>
