@()(implicit flash: Flash, lang: Lang, loggedInUser: Option[User])

@import util.Section._
@import util.AuthHelper._
@import util.ThemeHelper._

@page(title = APPLICATION_NAME, section = Other) {

  @breadcrumb(Seq(), "")

  @if(flash.get("success").isDefined) {
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      @flash.get("success")
    </div>
  }

  <h2>@Messages("index.welcome", APPLICATION_NAME)</h2>
  <p>@Messages("index.description.1", APPLICATION_NAME)</p>
  <p>@Messages("index.description.2", APPLICATION_NAME)</p>
  <p>@Messages("index.description.3", APPLICATION_NAME)</p>
  <p><a href="@routes.Groups.list()">@Messages("page.groups")</a></p>

  @if(isAdmin(loggedInUser)) {
    <p><a href="@routes.UsersSecured.list()">@Messages("page.users")</a></p>
  }
}


