@(message: String = "")(implicit flash: Flash, lang: Lang, loggedInUser: Option[User])

@import util.Section._
@import util.AuthHelper._

@page(title = "SignUp", section = Other) {

  @breadcrumb(Seq(), "")

  <div class="row">
    <div class="span5">

      @if(flash.get("success").isDefined) {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @flash.get("success")
        </div>
      }

      <h2>Välkommen @message till SignUp</h2>
      <p>
        SignUp är en tjänst för grupper som vill ha ordning på sina sammankomster.
      </p>
      <p>
        Du kan lägga upp nya sammankomster i gruppens kalender och medlemmarna kan själva
        gå in och markera ifall de kan komma eller inte.
      </p>
      <p>
        SignUp skickar inbjudningar och påminnelser till alla medlemmar i
        gruppen för varje sammankomst.
      </p>
      <p>
        <a href="@routes.Groups.list()">Grupper</a>
      </p>
      @if(isAdmin(loggedInUser)) {
        <p>
          <a href="@routes.UsersSecured.list()">Användare</a>
        </p>
      }
    </div>
  </div>
}


