@page(title = "SignUp", inGroups = true) {
  <div class="row">
    <div class="span5">
      <ul class="breadcrumb">
        <li class="active">
          <a href="@routes.Application.index"><i class="icon-home"></i> Start</a>
        </li>
      </ul>
      <h2>Välkommen till SignUp</h2>
      <p>
        SignUp är en tjänst för grupper som vill ha ordning på sina sammankomster.
      </p>
      <p>
        Du kan lägga upp nya sammankomster i gruppens kalender och medlemmarna kan själva
        gå in och markera ifall de kan komma eller inte.
      </p>
      <p>
        SignUp skickar automatiskt ut inbjudningar och påminnelser till alla medlemmar i
        gruppen för varje sammankomst.
      </p>
      <p>
        <a href="@routes.Groups.list">Grupper</a>
      </p>
      <p>
        <a href="@routes.Users.list">Användare</a>
      </p>
    </div>
  </div>
}

    
