@(title: String, section: util.Section.Section)(body: Html)

<!DOCTYPE html>

@import helper._
@import helper.FieldConstructor
@import helper.twitterBootstrap2._
@import util.DateHelper

@implicitField() = @{ FieldConstructor(twitterBootstrap2FieldConstructor.f) }

@sectionClass(sectionToCheck: String) = @{ if(sectionToCheck.equals(section.toString)){"active"} else {""} }



<html lang="sv">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href='@routes.Assets.at("bootstrap/css/bootstrap.css")'>
  <link rel="stylesheet" href='@routes.Assets.at("bootstrap/css/bootstrap-responsive.css")'>
  <link rel="stylesheet" href='@routes.Assets.at("bootstrap-datepicker/css/datepicker.css")'>
  <link rel="stylesheet" href='@routes.Assets.at("bootstrap-wysihtml5/bootstrap-wysihtml5.css")'>
  <link rel="stylesheet" href='@routes.Assets.at("stylesheets/signup.css")'>
  <link rel="shortcut icon" href='@routes.Assets.at("images/favicon.png")'>
  <title>@title</title>
</head>


<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="@routes.Application.index()">
        SignUp
      </a>
      <ul class="nav">
        <li class='@sectionClass(util.Section.Groups.toString)'><a href="@routes.Groups.list()">Grupper</a></li>
        <li class='@sectionClass(util.Section.Users.toString)'><a href="@routes.Users.list()">Användare</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  @body
</div>

<script src='@routes.Assets.at("javascripts/wysihtml5-0.3.0.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery-1.7.2.min.js")'></script>
<script src='@routes.Assets.at("bootstrap/js/bootstrap.min.js")'></script>
<script src='@routes.Assets.at("bootstrap-wysihtml5/bootstrap-wysihtml5.js")'></script>
<script src='@routes.Assets.at("bootstrap-datepicker/js/bootstrap-datepicker.js")'></script>
<script src='@routes.Assets.at("bootstrap-datepicker/js/locales/bootstrap-datepicker.sv.js")'></script>

<script type="text/javascript">
  $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      language: 'sv',
      weekStart: 1
  });
</script>

<script type="text/javascript">
  $('.rich-textarea').wysihtml5({
  	"font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
  	"emphasis": true, //Italics, bold, etc. Default true
  	"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
  	"html": false, //Button which allows you to edit the generated HTML. Default false
  	"link": true, //Button to insert a link. Default true
  	"image": false //Button to insert an image. Default true
  });
</script>

</body>
</html>