@(title: String, section: util.Section.Section, showLogin: Boolean = false)(body: Html)(implicit loggedInUser: Option[User])
@import util.DateHelper

<!DOCTYPE html>

@import util.AuthHelper._
@import util.GravatarHelper._
@import util.DateHelper._

@sectionClass(sectionToCheck: String) = @{ if(sectionToCheck.equals(section.toString)){"active"} else {""} }



<html lang="sv">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingHeader)
  <link rel="stylesheet" href='@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")'>
  <link rel="stylesheet" href='@routes.Assets.at("stylesheets/bootstrap/responsive.css")'>
  <link rel="stylesheet" href='@routes.Assets.at("bootstrap-wysihtml5/bootstrap-wysihtml5-0.0.2.css")'>
  <link rel="stylesheet" href='@routes.Assets.at("addthisevent/css/addthisevent.css")' media="all">
  <link rel="stylesheet" href='@routes.Assets.at("stylesheets/signup.css")'>
  <link rel="shortcut icon" href='@routes.Assets.at("images/favicon.png")'>
  <title>@title</title>
</head>


<body>
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">

    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>


      <a class="brand" href="@routes.Application.index()">
        SignUp
      </a>

      <div class="nav-collapse collapse">

        <ul class="nav">
          <li class="@sectionClass(util.Section.Groups.toString)"><a href="@routes.Groups.list()">Grupper</a></li>
          <li class="@sectionClass(util.Section.Users.toString)"><a href="@routes.Users.list()">Användare</a></li>
        </ul>
        @if(showLogin) {
          @if(isLoggedIn(loggedInUser)) {
            <ul class="nav pull-right">
              <li class="dropdown @sectionClass(util.Section.Login.toString)">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img class="login-gravatar" src="@gravatarUrl(loggedInUser.get.email, size = 16)"/>
                  @loggedInUser.get.firstName @loggedInUser.get.lastName
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="@routes.Application.logout()">Logga ut</a></li>
                </ul>
              </li>
            </ul>
          } else {
            <ul class="nav pull-right">
              <li class="@sectionClass(util.Section.Login.toString)"><a href="@routes.Application.loginForm()"><i class="icon-user"></i>
                Logga in</a></li>
            </ul>
          }
        }

      </div>
    </div>
  </div>
  <div class="navigation-divider"></div>
</div>

<div class="container">
  @body
</div>

<div class="footer-mid">
  <div class="container">
    <div class="row">
      <div class="span5">
        <div class="created-by">
          Skapad av <a href="http://www.crisp.se"><img src='@routes.Assets.at("images/crisp-logo-white-transp-tiny.png")'></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span5">
        <div class="timestamp pull-right">@{asDateTime(new java.util.Date())}</div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom"></div>

<script src='@routes.Assets.at("javascripts/wysihtml5-0.3.0.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery-1.9.0.min.js")'></script>
<script src='@routes.Assets.at("bootstrap/js/bootstrap.min.js")'></script>
<script src='@routes.Assets.at("bootstrap-wysihtml5/bootstrap-wysihtml5-0.0.2.min.js")'></script>


<script type="text/javascript">
  $('.rich-textarea').wysihtml5({
  	"font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
  	"emphasis": true, //Italics, bold, etc. Default true
  	"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
  	"html": false, //Button which allows you to edit the generated HTML. Default false
  	"link": true, //Button to insert a link. Default true
  	"image": false //Button to insert an image. Default true
  });
</script>

@Html(com.newrelic.api.agent.NewRelic.getBrowserTimingFooter)
</body>
</html>