@(title: String, section: util.Section.Section, showLogin: Boolean = true)(body: Html)(implicit loggedInUser: Option[User], lang: Lang)

<!DOCTYPE html>

  @import util.AuthHelper._
  @import util.ThemeHelper._
  @import services.ImageUrl

  @sectionClass(sectionToCheck: String) = @{ if(sectionToCheck.equals(section.toString)){"active"} else {""} }

  <html lang="sv">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <meta name="robots" content="noindex, nofollow">

      @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingHeader)

      <link rel="shortcut icon" href='@routes.Assets.at(forTheme("themes/[THEME]/[THEME]-favicon.png"))'>
      <link rel="stylesheet" href='@routes.Assets.at(forTheme("themes/[THEME]/[THEME]-bootstrap.css"))'>
      <link rel="stylesheet" href='@routes.Assets.at("bootstrap3-wysiwyg/bootstrap3-wysihtml5.min.css")'>
      <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
      <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
      <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
      <script type='text/javascript' src='@routes.Assets.at("javascripts/signup.js")'></script>
      <title>@title</title>
    </head>


    <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#signup_navbar">
              <span class="sr-only">@Messages("page.nav.showhide")</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Application.index()">@APPLICATION_NAME</a>
          </div>

          <div class="navbar-collapse collapse" id="signup_navbar">
            <ul class="nav navbar-nav">
              <li class="@sectionClass(util.Section.Groups.toString)"><a href="@routes.Groups.list()">@Messages("page.groups")</a></li>
              @if(isAdmin(loggedInUser)) {
                <li class="@sectionClass(util.Section.Users.toString)"><a href="@routes.UsersSecured.list()">@Messages("page.users")</a></li>
              }
            </ul>
            @if(showLogin) {
              @if(isLoggedIn(loggedInUser)) {
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown @sectionClass(util.Section.Login.toString)">
                    <a id="logged_in_user" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      <img class="login-thumb thumb-background16" src="@ImageUrl(loggedInUser.get, size = 16)" onerror="imgError(this);"/>
                      @loggedInUser.get.firstName @loggedInUser.get.lastName
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="@routes.Users.show(loggedInUser.get.id.get)">@Messages("page.mypage")</a></li>
                      <li><a href="@routes.Application.logout()">@Messages("page.logout")</a></li>
                    </ul>
                  </li>
                </ul>
              } else {
                <ul class="nav navbar-nav navbar-right">
                  <li class="@sectionClass(util.Section.Login.toString)">
                    <a id="logged_in_user" href="@routes.Application.loginForm()"><span class="glyphicon glyphicon-user"></span>&nbsp;@Messages("login.login")</a>
                  </li>
                </ul>
              }
            }
          </div>
        </div>
      </nav>
      <div class="navigation-divider"></div>

      <div class="container">
        @body
      </div>

      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="footer-logo"></div>
            </div>
          </div>
        </div>
      </div>

      @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingFooter)
    </body>
  </html>