@import se.crisp.signup4.models.User
@import se.crisp.signup4.models.Membership
@import se.crisp.signup4.models.Group
@import se.crisp.signup4.util.AuthHelper._
@import se.crisp.signup4.util.EmailHelper._
@import se.crisp.signup4.util.FormHelper._
@import se.crisp.signup4.util.Section._

@(membershipForm: Form[Membership], group: Group, nonMembers: Seq[User])(implicit loggedInUser: Option[User], lang: Lang)

@field(fieldName: String) = @{
  membershipForm(fieldName).value.getOrElse("")
}

@hasErrors(fieldName: String) = @{
  if(membershipForm(fieldName).hasErrors) {
    "has-error"
  }
}


@se.crisp.signup4.views.html.page(Messages("membership.heading", group.name), section = Groups) {

  @se.crisp.signup4.views.html.breadcrumb(Seq(Messages("navigation.groups") -> se.crisp.signup4.controllers.routes.Groups.list(),
    group.name -> se.crisp.signup4.controllers.routes.Groups.show(group.id.get)),
    Messages("navigation.membership"))

  <h2>@Messages("membership.heading", group.name)</h2>

  <form action="@se.crisp.signup4.controllers.routes.Memberships.create()" method="POST">
    <fieldset>
      <div class='form-group @hasErrors("userId")'>
        <label for="userId">@Messages("membership.existinguser")</label>
        <select class="form-control" id="userId" name="userId" required="">
          <option>@Messages("option.noperson")</option>
          @nonMembers.map { user =>
            <option value='@user.id.get'
              @if(user.id.get.toString.equals(field("userId"))) {
                selected=""}>@user.firstName @user.lastName ( @abbreviated(user.email, isLoggedIn(loggedInUser)) )</option>
          }
        </select>
        <span class="show-on-error">@Messages("membership.error.selectuser")</span>
      </div>

      <input type="hidden" id="groupId" name="groupId" value="@group.id.get"/>

      @if(membershipForm.hasErrors || membershipForm.hasGlobalErrors) {
        <div class="alert alert-danger">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <h4 class="alert-heading">@Messages("edit.error")</h4>
          <p>@errors(membershipForm).mkString(", ")</p>
        </div>
      }

      <button type="submit" class="btn btn-primary" id="action" name="action" value="save">
        <span class="glyphicon glyphicon-ok"></span> @Messages("membership.add")
      </button>
      <button type="button" class="btn btn-default" id="create"
              onClick='window.location.assign ( " @se.crisp.signup4.controllers.routes.UsersSecured.createMemberForm(group.id.get) ") '>
        <span class="glyphicon glyphicon-plus"></span> @Messages("membership.new")
      </button>
      <button type="button" class="btn btn-default" id="cancel"
              onClick='window.location.assign ( " @se.crisp.signup4.controllers.routes.Groups.show(group.id.get) ") '>
        <span class="glyphicon glyphicon-ban-circle"></span> @Messages("button.cancel")
      </button>
    </fieldset>
  </form>
}